{% comment %}
    Renders a product's "Add to cart" button (or out of stock, or select options) for listing pages

    Accepts:
    - product: {Object} Product object.
    - event_context: {Object} The JavaScript's cart-item:add event context (the location of the product card)

    Usage:
    {% render 'card-product-add-to-cart', product: product %}
{% endcomment %}

{% liquid
	assign always_in_stock = false
	assign is_backorder    = false
	assign inventory_count = 0

	for variant in product.variants
		if variant.inventory_management == null or variant.inventory_policy == 'continue' and variant.inventory_quantity > 0
			assign always_in_stock = true
		endif

		if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0
			assign is_backorder = true
		endif

		if variant.inventory_management
			assign inventory_count = variant.inventory_quantity | plus: inventory_count
		endif
	endfor

	assign any_in_stock = false
	if always_in_stock or inventory_count > 0
		assign any_in_stock = true
	endif

	assign is_pre_order = false
	if product.template_suffix == 'pre-order' or product.template_suffix == 'pre-order-two-columns'
		assign is_pre_order = true
	endif
%}

{% if product.variants.size <= 1 %}
	<product-form>
		{% assign product_form_id = 'product-form-' | append: product.id %}
		{% form 'product', product, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form', data-stock-threshold: settings.only_x_left, data-event-context: event_context %}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
			<div class="product-actions card-product-actions">
				<div class="product-actions-add-to-cart">
					<button
						type="submit"
						name="add"
						class="button button-secondary button-add-to-cart button-{{ settings.products_add_to_cart_style }}"
						{% if product.selected_or_first_available_variant.available == false %} disabled {% endif %}
					>
						{%- if product.selected_or_first_available_variant.available -%}
							{%- if is_pre_order -%}
								<span>{{ 'products.product.pre_order' | t }}</span>
							{%- elsif product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 -%}
								<span>{{ 'products.product.backorder' | t }}</span>
							{%- else -%}
								<span>{{ 'products.product.add_to_cart' | t }}</span>
							{%- endif -%}
						{%- else -%}
							<span>{{ 'products.product.availability.out_of_stock' | t }}</span>
						{%- endif -%}

						<div class="button-overlay-spinner hidden">
							<span class="spinner-xs"></span>
						</div>
					</button>
				</div>
			</div>

			<div class="product-form-error-message-wrapper form-status form-status-error" role="alert" hidden>
				<span class="product-form-error-message"></span>
			</div>
		{% endform %}
	</product-form>
{% else %}
	{% if any_in_stock or is_backorder or is_pre_order %}
		<div class="product-actions card-product-actions">
			<div class="product-actions-add-to-cart">
				<a href="{{ product.url }}" class="button button-secondary button-{{ settings.products_add_to_cart_style }} js-product-link">{{ 'products.product.select_options' | t }}</a>
			</div>
		</div>
	{% else %}
		<div class="product-actions card-product-actions">
			<div class="product-actions-add-to-cart">
				<a role="link" aria-disabled="true" class="button button-secondary button-{{ settings.products_add_to_cart_style }}">{{ 'products.product.availability.out_of_stock' | t }}</a>
			</div>
		</div>
	{% endif %}
{% endif %}
