{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - show_image: {Boolean} Show the article image. Default: false
    - show_date: {Boolean} Show the article date. Default: false
    - show_author: {Boolean} Show the article author. Default: false
    - show_excerpt: {Boolean} Show the article excerpt. Default: false
    - lazyload: {Boolean} Image should be lazy loaded. Default: true
    - card_type: {String} Optional. The type of the card (card, standard, overlay, padded).

    Usage:
    {% render 'card-article', blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{% liquid
	assign card_class = ''
	if card_type == 'card'
		assign card_class = 'card-standard'
	elsif card_type == 'overlay'
		assign card_class = 'card-overlay'
	elsif card_type == 'padded'
		assign card_class = 'card-padded color-background-2'
	endif
%}

{%- if article and article != empty -%}
	<div class="card {{ card_class }}">
		{%- if show_image and article.image -%}
			<figure class="card-media">
				{% liquid
					unless lazyload == false
						assign lazy = 'lazy'
					endunless
				%}
				<a href="{{ article.url }}">
					<div class="aspect-ratio" style="--ratio-percent: 66.66667%;">
						{{ article.image | image_url: width: 1400 | image_tag:
							loading: lazy,
							widths: '250, 450, 600, 700, 950, 1400',
							sizes: '(min-width: 750px) calc((100vw - 4rem) / 2), calc(100vw - 3rem)'
						}}
					</div>
				</a>
			</figure>
		{%- endif -%}

		<div class="card-info-wrap">
			<div class="card-info {% if card_type == 'card' or card_type == 'overlay' %}color-background-2{% endif %}">
				<div class="card-article-info card-eyebrow">
					{%- if show_date -%}
						<span>{{ article.published_at | time_tag: format: 'date' }}</span>
					{%- endif -%}
					{%- if show_author -%}
						<span>
							{%- if article.user.homepage -%}
								<a href="{{ article.user.homepage }}">
							{%- endif -%}

								{{ article.author }}

							{%- if article.user.homepage -%}
								</a>
							{%- endif -%}
						</span>
					{%- endif -%}
					{%- if article.comments_count > 0 and blog.comments_enabled? -%}
						<span>
							<a href="{{ article.url }}#comments">{{ 'blogs.article.comments' | t: count: article.comments_count }}</a>
						</span>
					{%- endif -%}
				</div>
				<h3 class="card-heading">
					<a href="{{ article.url }}">
						{{ article.title | escape }}
					</a>
				</h3>

				{%- if show_excerpt -%}
					{%- if article.excerpt_or_content.size > 0 -%}
						<p class="card-caption card-caption-fullwidth rte">
							{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
						</p>
					{%- endif -%}
				{%- endif -%}

				<a href="{{ article.url }}" class="button-text-link">
					{{ 'blogs.article.read_more' | t }}
				</a>
			</div>
		</div>
	</div>
{%- endif -%}
