{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - show_date: {String} The setting either show the article date or not. If it's not included it will show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will show the author by default
    - card_type: {String} The card type
    - ratio: {Number} Optiona. The ratio of the card's thumbnail.

    Usage:
    {% render 'card-article-home' blog: blog, article: article %}
{% endcomment %}

{% liquid
	if ratio == nil
		assign ratio = 1
	endif

	assign card_class = ''
	if section.settings.card_type == 'card'
		assign card_class = 'card-standard color-background-2'
	elsif section.settings.card_type == 'overlay'
		assign card_class = 'card-overlay'
	elsif section.settings.card_type == 'padded'
		assign card_class = 'card-padded color-background-2'
	endif
%}

{%- if article and article != empty -%}
	<div
		class="card {{ card_class }}"
		style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
	>
		{%- if article.image -%}
			<figure class="card-media">
				<a href="{{ article.url }}" title="{{ article.title }}">
					<div class="aspect-ratio">
						{{ article.image | image_url: width: 1400 | image_tag:
							widths: '250, 450, 600, 700, 950, 1400',
							sizes: 'calc((100vw - 4.5rem) / 2)'
						}}
					</div>
				</a>
			</figure>
		{%- endif -%}

		<div class="card-info-wrap">
			<div class="card-info {% if section.settings.card_type == 'overlay' %}color-background-2{% endif %}">
				<div class="card-article-info card-eyebrow">
					{%- if show_date -%}
						<span>
							{{ article.published_at | time_tag: format: 'date' }}
						</span>
					{%- endif -%}

					{%- if show_author -%}
						<span>
							{% if article.user.homepage %}
								<a href="{{ article.user.homepage }}">{{ article.author }}</a>
							{% else %}
								{{ article.author }}
							{% endif %}
						</span>
					{%- endif -%}
				</div>

				<h3 class="card-heading">
					<a href="{{ article.url }}">
						{{ article.title | escape }}
					</a>
				</h3>
			</div>
		</div>
	</div>
{%- else -%}
	<div
		class="card card-placeholder {{ card_class }}"
		style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
	>
		<figure class="card-media">
			<div class="aspect-ratio">
				{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
			</div>
		</figure>

		<div class="card-info-wrap">
			<div class="card-info {% if section.settings.card_type == 'overlay' %}color-background-2{% endif %}">
				<div class="card-article-info card-eyebrow">
					{%- if show_date -%}
						<span>
							{{ 'now' | date: '%s' | time_tag: format: 'date' }}
						</span>
					{%- endif -%}

					{%- if show_author -%}
						<span>
							John Doe
						</span>
					{%- endif -%}
				</div>

				<h3 class="card-heading">
					{{ 'onboarding.article_title' | t }}
				</h3>
			</div>
		</div>
	</div>
{%- endif -%}
