{% liquid
	assign swatches_colors = settings.color_swatches | newline_to_br | strip_newlines | split: '<br />'
	assign swatches_options = settings.option_swatches | split: ',' | uniq
	assign words = ''
	assign colors = ''
	for line in swatches_colors
		assign word_color = line | split: ':'
		assign word = word_color[0] | strip
		assign color = word_color[1] | strip
		assign words = words | append: '|' | append: word
		assign colors = colors | append: '|' | append: color
	endfor
	assign words = words | replace_first: '|', '' | split: '|' | compact
	assign colors = colors | replace_first: '|', '' | split: '|' | compact
%}

<div class="card-product-color-swatches">
	{%- liquid
		assign options_with_values_reversed = product.options_with_values | reverse
		assign product_variants_reversed = product.variants | reverse
	-%}
	{%- # theme-check-disable LiquidTag -%}
	{%- for option in options_with_values_reversed -%}
		{%- # theme-check-enable LiquidTag -%}
		{%- if swatches_options contains option.name -%}
			{%- if option.values.size == 1 -%}
				{%- continue -%}
			{%- endif -%}
			{%- for value in option.values -%}
				{%- assign swatch_variant = product.selected_variant -%}
				{%- for variant in product_variants_reversed -%}
					{%- if variant.title contains value -%}
						{%- assign swatch_variant = variant -%}
					{%- endif -%}
				{%- endfor -%}
				<a
					href="/products/{{ product.handle }}?variant={{ swatch_variant.id }}"
					class="color-swatch card-product-color-swatch {% if option.selected_value == value %}is-active{% endif %}"
					data-value="{{ value | escape }}"
					data-tooltip="{{ value }}"
					data-variant-image="{{ swatch_variant.image.src }}"
					{% if value.swatch.image != blank %}
						{% assign image_url = value.swatch.image | image_url: width: 80 %}
						data-image="{{ image_url }}"
						style="background-image: url({{ image_url }})"
					{% elsif value.swatch.color != blank %}
						data-color="{{ value.swatch.color }}"
						style="background-color: rgb({{ value.swatch.color.rgb }})"
					{% else %}
						{% for word in words %}
							{% if word == value %}
								{% assign color = colors[forloop.index0] %}
								{% if images[color] != blank %}
									data-image="{{ images[color] | image_url: width: 80 }}"
									style="background-image: url({{ images[color] | image_url: width: 80 }})"
								{% else %}
									data-color="{{ color }}"
									style="background-color: {{ color }}"
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				>
					{{ value | escape }}

					{%- if swatch_variant.featured_media -%}
						{{ swatch_variant.featured_media | image_url: width: 950 | image_tag:
							class: 'card-media-image card-variant-image',
							loading: 'lazy',
							sizes: image_sizes,
							widths: '200, 420, 650, 750, 950'
						}}
					{%- endif -%}
				</a>
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
</div>
