{% comment %}
    Renders a brand card for a given brand collection.

    Accepts:
    - collection: {Object} Collection object.
    - image: {Object} Image object. Optional. If present, overrides the collection's image.
    - class: {String} Extra CSS classes. Optional.
    - aspect: {String} Portrait, Square, or Adapt. Optional.
    - link: {String} Optional. Override the collection's link with a custom one.

    Usage:
    {% render 'card-brand' collection: collection, image: image, class: 'custom-class', aspect: 'portrait' %}
{% endcomment %}

{% liquid
	assign target_image = collection.featured_image
	if image != blank
		assign target_image = image
	endif

	assign ratio = 1
	if target_image and aspect == 'portrait'
		assign ratio = 0.75
	elsif target_image and aspect == 'landscape'
		assign ratio = 1.77
	elsif target_image and aspect == 'adapt'
		assign ratio = target_image.aspect_ratio
	endif
	if ratio == 0 or ratio == nil
		assign ratio = 1
	endif

	assign url = collection.url
	if link != blank
		assign url = link
	endif
%}

<div class="card card-simple card-justify-center color-background-2 {{ class }}">
	<figure class="card-media">
		<a href="{{ url }}" {% if collection != blank %}aria-label="{{ collection.title }}"{% endif %}>
			{% if target_image != blank %}
				{% if ratio != 0 %}
					<div class="aspect-ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
				{% endif %}
					{{ target_image | image_url: width: 950 | image_tag:
						sizes: '(min-width: 1200px) 420px, (min-width: 990px) calc((100vw - 4rem - 3rem) / 3), calc(100vw - 3rem - 1rem)',
						widths: '250, 450, 650, 750, 950',
						class: 'card-media-image'
					}}
				{% if ratio != 0 %}
					</div>
				{% endif %}

			{% else %}
				{{ 'collection-1' | strip | placeholder_svg_tag }}
			{% endif %}
		</a>
	</figure>
</div>
