{% comment %}
	Renders the side menu on the collection page

	Accepts:
	- menu: {Object} Collection or Search object
	- menu_title: {String} The menu title. Required.

	Usage:
	{% render 'collection-side-menu', menu: side_menu, menu_title: 'Menu' %}
{% endcomment %}

{% if menu.links != blank %}
	<collapsible-expandable expanded="true">
		<div
			class="facet facet-long"
		>
			<button class="facet-toggle" type="button" aria-expanded="true">
				<span>{{ menu_title | escape }}</span>
				{% render 'angle', direction: 'down' %}
			</button>

			<div class="facet-content">
				<expandable-list close-others="true">
					<ul class="navigation-side" role="list">
						{%- for link in menu.links -%}
							<li class="navigation-side-item
								{% if link.links != blank %} has-sub-menu {% endif %}
								{% if link.child_active %} is-expanded is-active {% endif %}"
							>
								<a
									href="{{ link.url }}"
									{% if link.current %} aria-current="page" class="current"{% endif %}
								>
									{{ link.title | escape }}
									{%- if link.links != blank -%}
										{% render 'icon-angle' %}
									{%- endif -%}
								</a>

								{%- if link.links != blank -%}
									<ul class="navigation-side-item-submenu"
										aria-expanded="{%- if link.child_active -%}true{%- else -%}false{%- endif -%}"
									>
										{%- for childlink in link.links -%}
											<li class="navigation-side-item
												{% if childlink.links != blank %} has-sub-menu {% endif %}
												{% if childlink.child_active %} is-expanded is-active {% endif %}"
											>
												<a
													href="{{ childlink.url }}"
													{% if childlink.current %} aria-current="page" class="current"{% endif %}
												>
													{{ childlink.title | escape }}
													{%- if childlink.links != blank -%}
														{% render 'icon-angle' %}
													{%- endif -%}
												</a>

												{%- if childlink.links != blank -%}
													<ul class="navigation-side-item-submenu"
														aria-expanded="{%- if childlink.child_active -%}true{%- else -%}false{%- endif -%}"
													>
														{%- for grandchildlink in childlink.links -%}
															<li class="navigation-side-item
																{% if grandchildlink.links != blank %} has-sub-menu {% endif %}
																{% if grandchildlink.child_active %} is-expanded is-active {% endif %}"
															>
																<a
																	href="{{ grandchildlink.url }}"
																	{% if grandchildlink.current %} aria-current="page" class="current"{% endif %}
																>
																	{{ grandchildlink.title | escape }}
																</a>
															</li>
														{%- endfor -%}
													</ul>
												{%- endif -%}
											</li>
										{%- endfor -%}
									</ul>
								{%- endif -%}
							</li>
						{%- endfor -%}
					</ul>
				</expandable-list>
			</div>

		</div>
	</collapsible-expandable>
{% endif %}
