{% comment %}
	Renders a navigation menu's items

	Accepts:
	- menu: {Object} Menu (linklist) object
	- blocks: {Object} The section's blocks

	Usage:
	{% render 'header-mobile-menu-items', menu: main_menu %}
{% endcomment %}

{%- for link in menu.links -%}
	<li class="navigation-mobile-item">
		<span class="navigation-mobile-item-link">
			<a
				href="{{ link.url }}"
				{% if link.current %} aria-current="page" class="current"{% endif %}
			>
				{{ link.title | escape }}

				{% for block in blocks %}
					{% if block.type == 'badge' and block.settings.badge_menu_item == link.title and block.settings.label != empty %}
						<span class="menu-badge" style="color: {{ block.settings.text_color }}; background-color: {{ block.settings.background_color }};">
							{{ block.settings.label }}
						</span>
					{% endif %}
				{% endfor %}
			</a>

			{%- if link.links != blank -%}
				<button class="navigation-mobile-item-link-expand">
					{% render 'icon-angle' %}
				</button>
			{%- endif -%}
		</span>

		{%- if link.links != blank -%}
			<ul class="navigation-sub-menu">
				{%- for childlink in link.links -%}
					<li class="navigation-mobile-item">
						<span class="navigation-mobile-item-link">
							<a
								href="{{ childlink.url }}"
								{% if childlink.current %} aria-current="page" class="current"{% endif %}
							>
								{{ childlink.title | escape }}
							</a>

							{%- if childlink.links != blank -%}
								<button class="navigation-mobile-item-link-expand">
									{% render 'icon-angle' %}
								</button>
							{%- endif -%}
						</span>

						{%- if childlink.links != blank -%}
							<ul class="navigation-sub-menu">
								{%- for grandchildlink in childlink.links -%}
									<li class="navigation-mobile-item">
										<span class="navigation-mobile-item-link">
											<a
												href="{{ grandchildlink.url }}"
												{% if grandchildlink.current %} aria-current="page" class="current"{% endif %}
											>
												{{ grandchildlink.title | escape }}
											</a>
										</span>
									</li>
								{%- endfor -%}
							</ul>
						{%- endif -%}
					</li>
				{%- endfor -%}
			</ul>
		{%- endif -%}
	</li>
{%- endfor -%}
