{% comment %}
	Renders the mini cart's footer

	Usage:
	{% render 'header-mini-cart-footer' %}
{% endcomment %}

{%- if cart != empty -%}
	<div class="mini-cart-footer">
		{%- if cart.cart_level_discount_applications.size > 0 -%}
			<ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
				{%- for discount in cart.cart_level_discount_applications -%}
					<li class="discounts-discount discounts-discount-position">
						{% render 'icon-label' %}
						{{ discount.title }}
						(-{{ discount.total_allocated_amount | money }})
					</li>
				{%- endfor -%}
			</ul>
		{%- endif -%}

		<div id="mini-cart-totals" class="mini-cart-recap">
			<span>{{ 'templates.cart.headings.total' | t }}</span>
			<span>{{ cart.total_price | money_with_currency }}</span>
		</div>

		{% if settings.cart_policy_consent_page != blank %}
			<div class="mini-cart-terms-conditions-disclaimer">
				<cart-consent-checkbox>
					<label class="checkbox-cart-policy-consent" for="checkbox-cart-policy-consent-mini-cart">
						<input type="checkbox" id="checkbox-cart-policy-consent-mini-cart" required>
						<span class="rte">
							{{ 'templates.cart.checkbox_cart_policy_consent_html' | t: link: settings.cart_policy_consent_page.url, label: settings.cart_policy_consent_page.title }}
						</span>
					</label>
				</cart-consent-checkbox>
			</div>
		{% endif %}

		<div class="mini-cart-footer-actions">
			<a href="{{ routes.cart_url }}" class="button button-secondary">
				{{ 'sections.minicart.view_cart' | t }}
			</a>

			<button type="submit" class="button" name="checkout">
				{{ 'templates.cart.checkout' | t }}
			</button>
		</div>

		<span class="spinner-sm"></span>
	</div>
{%- endif -%}
