{% comment %}
	Renders the site's main menu

	Accepts:
	- menu: {Object} Menu (linklist) object
	- blocks: {Array} Section blocks array for mega menu. Optional
	- align_right: {Boolean} Right-aligns the menu when true. Optional. Default: false

	Usage:
	{% render 'header-main-menu', menu: main_menu, blocks: section.blocks, aligh_right: true %}
{% endcomment %}

<ul class="navigation-menu navigation-main {% if align_right %} navigation-menu-end {% endif %}" role="list">
	{%- for link in menu.links -%}
		{% liquid
			assign is_mega = false
			for block in blocks
				if block.type == 'megamenu' and block.settings.menu_item == link.title
					assign is_mega = true
					assign mega_block = block
					assign has_side_item_1 = false
					assign has_side_item_2 = false
					assign has_side_item_3 = false
					assign has_side_item_4 = false
					assign side_item_count = 0

					if mega_block.settings.side_image != blank or mega_block.settings.side_title != blank or mega_block.settings.side_text != blank
						assign has_side_item_1 = true
					endif
					if mega_block.settings.side_image_2 != blank or mega_block.settings.side_title_2 != blank or mega_block.settings.side_text_2 != blank
						assign has_side_item_2 = true
					endif
					if mega_block.settings.side_image_3 != blank or mega_block.settings.side_title_3 != blank or mega_block.settings.side_text_3 != blank
						assign has_side_item_3 = true
					endif
					if mega_block.settings.side_image_4 != blank or mega_block.settings.side_title_4 != blank or mega_block.settings.side_text_4 != blank
						assign has_side_item_4 = true
					endif

					if has_side_item_1
						assign side_item_count = side_item_count | plus: 1
					endif
					if has_side_item_2
						assign side_item_count = side_item_count | plus: 1
					endif
					if has_side_item_3
						assign side_item_count = side_item_count | plus: 1
					endif
					if has_side_item_4
						assign side_item_count = side_item_count | plus: 1
					endif
				endif
			endfor
		%}

		<li class="navigation-item
			{% if forloop.first and align_right %} navigation-item-end {% endif %}
			{% if is_mega %} navigation-item-static {% endif %}
			{% if is_mega or link.links != blank %} has-sub-menu {% endif %}
			{% if is_mega and side_item_count > 2 or link.links == blank %} navigation-mega-sides{% endif %}"
		>
			<a
				href="{{ link.url }}"
				{% if link.current %} aria-current="page" class="current"{% endif %}
			>
				{{ link.title | escape }}
				{%- if link.links != blank or is_mega -%}
					{% render 'icon-angle' %}
				{%- endif -%}

				{% for block in blocks %}
					{% if block.type == 'badge' and block.settings.badge_menu_item == link.title and block.settings.label != empty %}
						<span class="menu-badge" style="color: {{ block.settings.text_color }}; background-color: {{ block.settings.background_color }};">
							{{ block.settings.label }}
							<span class="menu-badge-arrow" style="border-top-color: {{ block.settings.background_color }};"></span>
						</span>
					{% endif %}
				{% endfor %}
			</a>

			{% if is_mega %}
				<div class="navigation-sub-menu mega-menu color-{{ section.settings.navigation_submenu_color_scheme }}">
					<div class="container">
						<div class="mega-menu-container">
							{% if link.links != blank %}
								<div class="mega-menu-columns">
									{%- for childlink in link.links -%}
										<div class="mega-menu-column">
											<a
												href="{{ childlink.url }}"
												class="mega-menu-column-title {% if childlink.current %} current {% endif %}"
												{% if childlink.current %} aria-current="page"{% endif %}
											>
												{{ childlink.title | escape }}
											</a>

											{%- if childlink.links != blank -%}
												<ul class="mega-menu-column-list">
													{%- for grandchildlink in childlink.links -%}
														<li class="navigation-item">
															<a
																href="{{ grandchildlink.url }}"
																{% if grandchildlink.current %} aria-current="page" class="current"{% endif %}
															>
																{{ grandchildlink.title | escape }}
															</a>
														</li>
													{%- endfor -%}
												</ul>
											{%- endif -%}
										</div>
									{% endfor %}
								</div>
							{% endif %}

							{% if side_item_count > 0 %}
								<div class="mega-menu-column-feature-grid">
									{% liquid
										if has_side_item_1
											render 'mega-menu-side-item', url: mega_block.settings.side_url, image: mega_block.settings.side_image, title: mega_block.settings.side_title, text: mega_block.settings.side_text
										endif
										if has_side_item_2
											render 'mega-menu-side-item', url: mega_block.settings.side_url_2, image: mega_block.settings.side_image_2, title: mega_block.settings.side_title_2, text: mega_block.settings.side_text_2
										endif
										if has_side_item_3
											render 'mega-menu-side-item', url: mega_block.settings.side_url_3, image: mega_block.settings.side_image_3, title: mega_block.settings.side_title_3, text: mega_block.settings.side_text_3
										endif
										if has_side_item_4
											render 'mega-menu-side-item', url: mega_block.settings.side_url_4, image: mega_block.settings.side_image_4, title: mega_block.settings.side_title_4, text: mega_block.settings.side_text_4
										endif
									%}
								</div>
							{% endif %}

						</div>
					</div>
				</div>

			{% else %}
				{%- if link.links != blank -%}
					<ul class="navigation-sub-menu color-{{ section.settings.navigation_submenu_color_scheme }}">
						{%- for childlink in link.links -%}
							<li class="navigation-item {% if childlink.links != blank %} has-sub-menu {% endif %}">
								<a
									href="{{ childlink.url }}"
									{% if childlink.current %} aria-current="page" class="current"{% endif %}
								>
									{{ childlink.title | escape }}
									{%- if childlink.links != blank -%}
										{% render 'icon-angle' %}
									{%- endif -%}
								</a>

								{%- if childlink.links != blank -%}
									<ul class="navigation-sub-menu">
										{%- for grandchildlink in childlink.links -%}
											<li class="navigation-item {% if grandchildlink.links != blank %} has-sub-menu {% endif %}">
												<a
													href="{{ grandchildlink.url }}"
													{% if grandchildlink.current %} aria-current="page" class="current"{% endif %}
												>
													{{ grandchildlink.title | escape }}
												</a>
											</li>
										{%- endfor -%}
									</ul>
								{%- endif -%}
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
			{% endif %}
		</li>
	{%- endfor -%}
</ul>
