{% comment %}
	Renders a customizable inline collection banner.

	Accepts:
	- section: {Object} Required. The section object.
	- block: {Object} Required. The block object.
{% endcomment %}

{% if block.settings.overlay_background != blank %}
	<style>
		#shopify-section-{{ section.id }} .collection-banner-inline-{{ block.id }}::after {
			background: {{ block.settings.overlay_background }};
		}
	</style>
{% endif %}

<div class="collection-banner-inline collection-banner-inline-{{ block.id }} color-{{ block.settings.color_scheme }}">
	{% if block.settings.heading != empty and block.settings.text != empty %}
		<div class="collection-banner-inline-content">
			{% if block.settings.heading != empty %}
				<h3 class="collection-banner-inline-heading">
					{{ block.settings.heading }}
				</h3>
			{% endif %}

			{% if block.settings.text != empty %}
				<div class="collection-banner-inline-caption">
					{{ block.settings.text }}
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if block.settings.link_title != empty %}
		<a href="{{ block.settings.link_url }}" class="button">{{ block.settings.link_title }}</a>
	{% endif %}

	{% if block.settings.image %}
		{{ block.settings.image | image_url: width: 2000 | image_tag:
			class: 'collection-banner-inline-media',
			loading: 'lazy',
			widths: '520, 720, 1020, 1200, 1400, 1540, 2000',
			sizes: '(min-width: 1540px) 1540px, (min-width: 750px) calc(100vw - 4rem), calc(100vw - 3rem)'
		}}
	{% endif %}
</div>
