{% comment %} Yotpo {% endcomment %}
<div class="yotpo yotpo-main-widget"
	data-product-id="{{ product.id }}"
	data-name="{{ product.title | escape }}"
	data-url="{{ shop.url }}{{ product.url }}"
	data-image-url="{{ product.featured_image | image_url: 'large' | replace: '?', '%3F' | replace: '&', '%26' }}"
	data-price="{{ variant.price | money_without_currency }}"
	data-currency="{{ shop.currency }}"
	data-description="{{ product.description | escape }}"></div>

{% comment %} Stamped {% endcomment %}
<div
	id="stamped-main-widget"
	data-product-id="{{ product.id }}"
	data-name="{{ product.title | escape }}"
	data-url="{{ shop.url }}{{ product.url }}"
	data-image-url="{{ product.featured_image | image_url: "large" | replace: '?', '%3F' | replace: '&', '%26' }}"
	data-description="{{ product.description | escape }}"
	data-product-sku="{{ product.handle }}"
	data-product-type="{{ product.type }}"></div>

{% comment %} Judge.me {% endcomment %}
<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">{{ product.metafields.judgeme.widget }}</div>
