{% comment %}
    Renders a product's metafields

    Accepts:
    - product: {Object} Product object
    - metafields_list: {String} Newline-separated list of title:metafield pairs.

    Usage:
    {% render 'product-metafields', product: product, metafields: block.settings.metafields %}
{% endcomment %}

{% liquid
	assign card_product_metafields = metafields_list | newline_to_br | strip_newlines | split: '<br />'
	assign titles = ''
	assign metafields = ''
	for line in card_product_metafields
		assign title_metafield = line | split: ':'
		assign title = title_metafield[0] | strip
		assign metafield = title_metafield[1] | strip
		assign titles = titles | append: '|' | append: title
		assign metafields = metafields | append: '|' | append: metafield
	endfor
	assign titles = titles | replace_first: '|', '' | split: '|' | compact
	assign metafields = metafields | replace_first: '|', '' | split: '|' | compact
%}

{% for metafield in metafields %}
	{% liquid
		assign title = titles[forloop.index0] | strip
		assign fields = metafield | strip | split: "."
		assign field_ns = fields[-2]
		assign field_key = fields[-1]
	%}
	{% capture text %}
		{%- case product.metafields[field_ns][field_key].type -%}
			{%- when 'url' -%}
				<a href="{{ product.metafields[field_ns][field_key].value }}" target="_blank" rel="noopener">{{ 'products.product.details.link' | t }}</a>
			{%- when 'file_reference' -%}
				<a href="{{ product.metafields[field_ns][field_key] | file_url }}" target="_blank" rel="noopener">
					<span class="product-info-details-item-icon-download">
						{% render 'icon-download' %}
					</span>
					{{ 'products.product.details.download' | t }}
				</a>
			{%- else -%}
				{{ product.metafields[field_ns][field_key] | metafield_text }}
		{%- endcase -%}
	{% endcapture %}

	{% if text != blank %}
		<li class="product-info-details-item">
			<span class="product-info-details-item-label">{{ title }}</span>
			<span class="product-info-details-item-value">{{ text }}</span>
		</li>
	{% endif %}
{% endfor %}
