{% comment %}
    Renders a product's availability (in stock, out of stock, only X left) for listing pages

    Accepts:
    - product: {Object} Product object

    Usage:
    {% render 'product-availability-listing', product: product %}
{% endcomment %}

{% liquid
	assign always_in_stock = false
	assign is_backorder    = false
	assign inventory_count = 0

	for variant in product.variants
		if variant.inventory_management == null or variant.inventory_policy == 'continue' and variant.inventory_quantity > 0
			assign always_in_stock = true
		endif

		if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0
			assign is_backorder = true
		endif

		if variant.inventory_management
			assign inventory_count = variant.inventory_quantity | plus: inventory_count
		endif
	endfor

	assign variant = product.selected_or_first_available_variant

	assign is_pre_order = false
	if product.template_suffix == 'pre-order' or product.template_suffix == 'pre-order-two-columns'
		assign is_pre_order = true
	endif
%}

{% if is_pre_order %}
	<div class="badge-stock badge-preorder">
		{{ 'products.product.availability.pre_order' | t }}
	</div>
{% elsif is_backorder and always_in_stock == false and inventory_count <= 0 %}
	<div class="badge-stock badge-backorder">
		<span class="badge-stock-icon"></span> {{ 'products.product.availability.backorder' | t }}
	</div>
{% elsif always_in_stock %}
	<div class="badge-stock badge-stock-in">
		<span class="badge-stock-icon"></span> {{ 'products.product.availability.always_in_stock' | t }}
		{% if settings.show_items_in_stock and inventory_count > 0 %} ({{ inventory_count }}) {% endif %}
	</div>
{% else %}
	{% if product.available == false or inventory_count == 0 %}
		<div class="badge-stock badge-stock-out">
			<span class="badge-stock-icon"></span> {{ 'products.product.availability.out_of_stock' | t }}
		</div>
	{% else %}
		{% if settings.only_x_left >= 1 and inventory_count <= settings.only_x_left %}
			<div class="badge-stock badge-stock-warning">
				<span class="badge-stock-icon"></span> {{ 'products.product.availability.number_left' | t: count: inventory_count }}
			</div>
		{% else %}
			<div class="badge-stock badge-stock-in">
				<span class="badge-stock-icon"></span> {{ 'products.product.availability.in_stock' | t }}
				{% if settings.show_items_in_stock %} ({{ inventory_count }}) {% endif %}
			</div>
		{% endif %}
	{% endif %}
{% endif %}
