{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
    Renders a product thumbnail

    Accepts:
    - media: {Object} Product Media object
    - position: {Integer} Position of the media. Used for accessible label.
    - media_width: {Integer} The width of the media in pixels.
    - lazyload: {Boolean} Image should be lazy loaded. Default: true (optional).

    Usage:
    {% render 'product-gallery-media-thumbnail',
      media: media,
      position: forloop.index,
    %}
{% endcomment %}

{% liquid
	unless lazyload == false
		assign lazy = 'lazy'
	endunless
%}

<noscript>
	<a href="{{ media.preview_image | image_url: width: 1946 }}">
		<div class="aspect-ratio" style="--ratio-percent: 100%;">
			{{ media.preview_image | image_url: width: 450 | image_tag:
				loading: lazy,
				widths: '48, 96, 150, 300, 450',
				sizes: 'min-width(750px) calc(((100vw * 0.45) - 4rem - 6rem - 4rem) / 7) , calc((100vw - 3rem - 5rem) / 6)'
			}}
		</div>
	</a>
</noscript>

<div class="aspect-ratio no-js-hidden" style="--ratio-percent: 100%;">
	{{ media.preview_image | image_url: width: 450 | image_tag:
		class: 'no-js-hidden',
		loading: lazy,
		widths: '48, 96, 150, 300, 450',
		sizes: '(min-width: 990px) calc(((100vw - 4rem) / 2) * 0.14), (min-width: 750px) calc((100vw - 3rem) * 0.14), calc((100vw - 3rem - 5rem) / 5)'
	}}
</div>

<button type="button" class="product-media-toggle no-js-hidden" aria-haspopup="dialog" data-media-id="{{ media.id }}">
	<span class="visually-hidden">{{ 'products.product.media.load_image' | t: index: position }}</span>
</button>

{% if media.media_type == 'model' %}
	<span class="product-media-thumbnail-badge" aria-hidden="true">
		{%- render 'icon-3d-model' -%}
	</span>
{% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
	<span class="product-media-thumbnail-badge" aria-hidden="true">
		{%- render 'icon-play' -%}
	</span>
{% endif %}

