<ul class="list-inline-menu list-social" role="list">
	{% if settings.social_link_facebook != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_facebook }}">
				{% render 'icon-facebook' %}
				<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_instagram != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_instagram }}">
				{% render 'icon-instagram' %}
				<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_linkedin != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_linkedin }}">
				{% render 'icon-linkedin' %}
				<span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_pinterest != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_pinterest }}">
				{% render 'icon-pinterest' %}
				<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_snapchat != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_snapchat }}">
				{% render 'icon-snapchat' %}
				<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_tiktok != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_tiktok }}">
				{% render 'icon-tiktok' %}
				<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_tumblr != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_tumblr }}">
				{% render 'icon-tumblr' %}
				<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_twitter != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_twitter }}">
				{% if settings.social_link_twitter_use_x %}
					{% render 'icon-x' %}
				{% else %}
					{% render 'icon-twitter' %}
				{% endif %}
				<span class="visually-hidden">
					{% if settings.social_link_twitter_use_x %}
						{{ 'general.social.links.x' | t }}
					{% else %}
						{{ 'general.social.links.twitter' | t }}
					{% endif %}
				</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_vimeo != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_vimeo }}">
				{% render 'icon-vimeo' %}
				<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_youtube != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="{{ settings.social_link_youtube }}">
				{% render 'icon-youtube' %}
				<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
			</a>
		</li>
	{% endif %}
	{% if settings.social_link_whatsapp != blank %}
		<li class="list-social-item">
			<a class="list-social-link" href="https://wa.me/{{ settings.social_link_whatsapp }}" target="_blank" rel="noopener">
				{% render 'icon-whatsapp' %}
				<span class="visually-hidden">{{ 'general.social.links.whatsapp' | t }}</span>
			</a>
		</li>
	{% endif %}
</ul>
