{% comment %}
    Renders a video with cover image as deferred media.

    Accepts:
    - media_id: {String} The video unique id.
    - video_url: {String} The video url.
    - cover_image: {Object} An optional cover image to show as the video's cover.
    - description: {String} An optional video description for screen readers.
    - full_width: {Boolean} If the video is displayed full width. Default: false

    Usage:
    {% render 'video' media_id: video_url.id, video_url: video_url, cover_image: cover_image, description: description %}
{% endcomment %}

{{ 'component-video-media.css' | asset_url | stylesheet_tag }}

{% liquid
	if description == blank and cover_image != blank
		assign description = cover_image.alt
	endif

	if description != blank
		assign description = 'general.video.load' | t: description: description
	endif
%}

<noscript>
	<div class="video-media media-with-aspect"
		{% if cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
	>
		<a href="{{ video_url }}" class="video-poster {% if cover_image == blank %} video-placeholder{% endif %}">
			{%- if cover_image != blank -%}
				{%- capture image_sizes -%}
					{% if full_width %}100vw{% else %}calc(100vw - 3rem){% endif %}
				{%- endcapture -%}

				{{ cover_image | image_url: width: 3840 | image_tag:
					widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
					sizes: image_sizes,
					alt: description
				}}
			{%- else -%}
				{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
			{%- endif -%}

			<span class="deferred-media-poster-button video-poster-button">
				{%- render 'icon-play' -%}
			</span>
		</a>
	</div>
</noscript>

<deferred-media
	class="video-media deferred-media media-with-aspect no-js-hidden"
	data-media-id="{{ video_url.id }}"
	{% if cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: cover_image.aspect_ratio | at_least: 0.5625 | times: 100 }}%;"{% endif %}
>
	<button id="Deferred-Poster-Modal-{{ video_url.id }}" class="deferred-media-poster video-poster {% if cover_image == blank %} video-placeholder{% endif %}" type="button">
		{%- if cover_image != blank -%}
			{%- capture image_sizes -%}
				{% if full_width %}100vw{% else %}calc(100vw - 3rem){% endif %}
			{%- endcapture -%}

			{{ cover_image | image_url: width: 3840 | image_tag:
				widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
				sizes: image_sizes,
				alt: description
			}}
		{%- else -%}
			{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
		{%- endif -%}

		<span class="visually-hidden">{{ 'general.video.play' | t }}</span>
		<span class="deferred-media-poster-button video-poster-button">
			{%- render 'icon-play' -%}
		</span>
	</button>

	<template>
		<div class="video-wrapper">
			{%- if video_url.type == 'youtube' -%}
				<iframe src="https://www.youtube.com/embed/{{ video_url.id }}?enablejsapi=1&autoplay=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ description | escape }}"></iframe>
			{%- else -%}
				<iframe src="https://player.vimeo.com/video/{{ video_url.id }}?autoplay=1" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ description | escape }}"></iframe>
			{%- endif -%}
		</div>
	</template>
</deferred-media>
