{%- if section.settings.text != blank -%}
	<style>
		@media (min-width: 990px) {
			.announcement-bar-secondary {
				padding-top: {{ section.settings.spacing_top }}rem;
				padding-bottom: {{ section.settings.spacing_bottom }}rem;
			}
		}
	</style>

	<div class="announcement-bar-secondary-wrapper color-{{ section.settings.color_scheme }} {% if section.settings.remove_border %}border-bottom-none{% endif %}">
		<div class="container">
			<div class="announcement-bar-secondary">
				<div class="announcement-bar-secondary-content">
				{%- if section.settings.link != blank -%}
					<a href="{{ section.settings.link }}">
						{%- endif -%}

						{{ section.settings.text | escape }}

						{%- if section.settings.link != blank -%}
					</a>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement_bar_secondary.name",
  "enabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.announcement_bar_secondary.settings.text.label",
      "default": "Promote discounts in this area"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.announcement_bar_secondary.settings.link.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "remove_border",
      "default": false,
      "label": "t:sections.announcement_bar.settings.remove_border.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading",
      "info": "t:sections.announcement_bar_secondary.settings.section_spacing.info"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.3,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.3,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement_bar_secondary.presets.name"
    }
  ]
}
{% endschema %}
