{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% liquid
	assign columns = section.settings.columns | at_most: 4
	assign layout_classes = 'grid grid-2-col'

	if columns >= 4
		assign layout_classes = layout_classes | append: ' grid-4-col-desktop'
	else
		assign layout_classes = layout_classes | append: ' grid-3-col-tablet'
	endif

	assign block_section_class = 'block-section'
	unless section.settings.color_scheme == 'background-1'
		assign block_section_class = block_section_class | append: ' block-section-padded'
	endunless
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	#shopify-section-{{ section.id }} .block-section-padded {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top }}px;
			padding-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}
</style>

<div class="color-{{ section.settings.color_scheme }}">
	<div class="container">
		<div class="{{ block_section_class }}">
			{% if section.settings.heading != blank or section.settings.subheading != blank or section.settings.link_title != blank and section.settings.link_url != blank %}
				<div class="block-block-section-title-wrapper {% if section.settings.subheading != blank %}with-subtitle{% endif %}">
					{% if section.settings.heading != blank or section.settings.subheading != blank %}
						<div class="block-section-title-wrap">
							{% if section.settings.heading != blank %}
								<h2 class="block-section-title">{{ section.settings.heading }}</h2>
							{% endif %}
							{% if section.settings.subheading != blank %}
								<p class="block-section-subtitle">{{ section.settings.subheading }}</p>
							{% endif %}
						</div>
					{% endif %}

					{% if section.settings.link_title != blank and section.settings.link_url != blank %}
						<div class="block-section-title-aux">
							<a href="{{ section.settings.link_url }}" class="link-text-secondary">
								{{ section.settings.link_title }} {% render 'angle', direction: 'right' %}
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

			<div class="collection">
				{%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
					<div class="scroller scroller-tablet">
						<div class="scroller-inner">
				{%- endunless -%}

					<ul class="{{ layout_classes }}">
						{% if section.settings.blog != blank and section.settings.blog.articles_count > 0 %}
							{% for article in section.settings.blog.articles limit: section.settings.posts_to_show %}

								{% liquid
									assign ratio = article.image.aspect_ratio
									if section.settings.image_ratio == 'portrait'
										assign ratio = 0.75
									elsif section.settings.image_ratio == 'landscape'
										assign ratio = 1.777
									elsif section.settings.image_ratio == 'square'
										assign ratio = 1
									endif
								%}
								<li class="grid-item">
									{% render 'card-article-home',
										blog: section.settings.blog,
										article: article,
										show_date: section.settings.show_date,
										show_author: section.settings.show_author,
										card_type: section.settings.card_type,
										ratio: ratio
									%}
								</li>
							{% endfor %}
						{% else %}
							{% for i in (1..section.settings.posts_to_show) %}
								<li class="grid-item">
									{% render 'card-article-home',
										blog: nil,
										article: nil,
										show_date: section.settings.show_date,
										show_author: section.settings.show_author,
										card_type: section.settings.card_type
									%}
								</li>
							{% endfor %}
						{% endif %}
					</ul>

				{%- unless section.settings.stack_on_mobile or section.blocks.size == 1 -%}
						</div>
					</div>
				{%- endunless -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.blog_posts.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.blog_posts.settings.heading.label",
      "default": "Blog posts"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.blog_posts.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "t:sections.blog_posts.settings.link_title.label",
      "default": "Visit our blog"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.blog_posts.settings.link_url.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog_posts.settings.blog.label"
    },
    {
      "type": "range",
      "id": "posts_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3,
      "label": "t:sections.blog_posts.settings.posts_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.blog_posts.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.blog_posts.settings.show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "t:sections.all.layout.desktop_columns.label",
      "default": "3",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "card_type",
      "label": "t:sections.all.layout.card_type.label",
      "default": "card",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.layout.card_type.options.normal"
        },
        {
          "value": "card",
          "label": "t:sections.all.layout.card_type.options.card"
        },
        {
          "value": "overlay",
          "label": "t:sections.all.layout.card_type.options.overlay"
        },
        {
          "value": "padded",
          "label": "t:sections.all.layout.card_type.options.padded"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.layout.image_ratio.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.layout.image_ratio.options.label_1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.layout.image_ratio.options.label_2"
        },
        {
          "value": "square",
          "label": "t:sections.all.layout.image_ratio.options.label_3"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.layout.image_ratio.options.label_4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "default": false,
      "label": "t:sections.all.layout.stack_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_posts.presets.name",
      "settings": {
        "link_title": "Visit our blog",
        "link_url": "/blogs/news",
        "blog": "news"
      }
    }
  ]
}
{% endschema %}
