{{ 'section-call-to-action.css' | asset_url | stylesheet_tag }}

{% liquid
	assign fetch_priority = 'auto'
	if section.index == 1
		assign fetch_priority = 'high'
	endif
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}

	{% if section.settings.overlay_background != blank %}
	#shopify-section-{{ section.id }} .section-cta-wrap-inner::after {
		background: {{ section.settings.overlay_background }};
	}

	#shopify-section-{{ section.id }} .section-cta-wrap {
		min-height: {{ section.settings.mobile_height }}px;
	}

	@media (min-width: 750px) {
		#shopify-section-{{ section.id }} .section-cta-wrap {
			min-height: {{ section.settings.height }}px;
		}

		#shopify-section-{{ section.id }} .section-cta-content-inner {
			max-width: {{ section.settings.content_width }}%;
		}
	}
	{% endif %}
</style>

<div class="{% if section.settings.full_width %} block-section-fullwidth{% else %} container{% endif %}">
	<div class="block-section">
		<div class="section-cta-wrap color-{{ section.settings.color_scheme }}">
			<div class="section-cta-wrap-inner {% if section.settings.mobile_background_image != blank %} section-cta-with-mobile-media{% endif %}">
				<div class="section-cta-content-wrap">
				{% if section.settings.full_width %}
					<div
						class="container content-align-{{ section.settings.mobile_box_align }} content-align-desktop-{{ section.settings.box_align }}">{% endif %}
						<div
							class="section-cta-content content-align-{{ section.settings.mobile_box_align }} content-align-desktop-{{ section.settings.box_align }}">
							<div class="section-cta-content-inner">
								{% if section.settings.heading != blank %}
									<h2 class="section-cta-title h2 h2 section-cta-title-{{ section.settings.mobile_heading_size }} section-cta-title-desktop-{{ section.settings.heading_size }}">
										{{ section.settings.heading | escape }}
									</h2>
								{% endif %}
								{% if section.settings.text != blank %}
									<div class="section-cta-caption">
										{{ section.settings.text }}
									</div>
								{% endif %}
								{% if section.settings.button_label != blank %}
									<a
										href="{{ section.settings.link }}"
										class="button button-large-desktop color-button-{{ section.settings.button_color_scheme }}"
										{% if section.settings.link == blank %}aria-disabled="true"{% endif %}
									>
										{{ section.settings.button_label | escape }}
									</a>
								{% endif %}
							</div>
						</div>
						{% if section.settings.full_width %}
					</div>
					{% endif %}

					{%- if section.settings.background_image != blank -%}
						{% capture image_sizes %}
							{% if section.settings.full_width %}
								100vw
							{% else %}
								(min-width: 1540px) 1540px, calc(100vw - 3rem)
							{% endif %}
						{% endcapture %}

						{{ section.settings.background_image | image_url: width: 3840 | image_tag:
							class: 'section-cta-backdrop section-cta-backdrop-desktop',
							widths: '390, 768, 820, 1024, 1180, 1440, 1780, 1920, 2048, 3000, 3840',
							sizes: image_sizes,
							fetchpriority: fetch_priority
						}}

						{%- if section.settings.mobile_background_image -%}
							{{ section.settings.mobile_background_image | image_url: width: 3840 | image_tag:
								class: 'section-cta-backdrop section-cta-backdrop-mobile',
								widths: '390, 768, 820, 1024, 1180, 1440, 1780, 1920, 2048, 3000, 3840',
								sizes: image_sizes,
								fetchpriority: fetch_priority
							}}
						{% endif %}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.call_to_action.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.call_to_action.settings.full_width.label",
      "default": false
    },
    {
      "type": "range",
      "id": "height",
      "min": 200,
      "max": 1200,
      "step": 10,
      "default": 700,
      "label": "t:sections.call_to_action.settings.height.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.call_to_action.settings.background_image.label"
    },
    {
      "type": "color_background",
      "id": "overlay_background",
      "label": "t:sections.all.gradient.overlay_background.label",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Call to action",
      "label": "t:sections.call_to_action.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.call_to_action.settings.heading_size.label",
      "default": "xl",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_sm"
        },
        {
          "value": "md",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_md"
        },
        {
          "value": "lg",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_lg"
        },
        {
          "value": "xl",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_xxl"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.call_to_action.settings.text.label",
      "default": "<p>Write a compelling summary here that motivates customers to take action.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.call_to_action.settings.button_label.label",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.call_to_action.settings.link.label"
    },
    {
      "type": "select",
      "id": "button_color_scheme",
      "label": "t:sections.call_to_action.settings.button_color_scheme.label",
      "default": "button-primary",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "button-primary",
          "label": "t:sections.all.colors.button_primary.label"
        },
        {
          "value": "button-secondary",
          "label": "t:sections.all.colors.button_secondary.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "box_align",
      "label": "t:sections.all.box_align.label",
      "default": "bottom-left",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.box_align.options.label_tl"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.box_align.options.label_tc"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.box_align.options.label_tr"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.box_align.options.label_ml"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.box_align.options.label_mc"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.box_align.options.label_mr"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.box_align.options.label_bl"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.box_align.options.label_bc"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.box_align.options.label_br"
        }
      ]
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 50,
      "label": "t:sections.call_to_action.settings.content_width.label",
      "info": "t:sections.call_to_action.settings.content_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.call_to_action.settings.header_1.content"
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 200,
      "max": 1200,
      "step": 10,
      "default": 500,
      "label": "t:sections.call_to_action.settings.height.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "t:sections.call_to_action.settings.background_image.label"
    },
    {
      "type": "select",
      "id": "mobile_heading_size",
      "label": "t:sections.call_to_action.settings.heading_size.label",
      "default": "md",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_sm"
        },
        {
          "value": "md",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_md"
        },
        {
          "value": "lg",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_lg"
        },
        {
          "value": "xl",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.call_to_action.settings.heading_size.options.label_xxl"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_box_align",
      "label": "t:sections.all.box_align.label",
      "default": "bottom-left",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.box_align.options.label_tl"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.box_align.options.label_tc"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.box_align.options.label_tr"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.box_align.options.label_ml"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.box_align.options.label_mc"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.box_align.options.label_mr"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.box_align.options.label_bl"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.box_align.options.label_bc"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.box_align.options.label_br"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "accent-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.call_to_action.presets.name"
    }
  ]
}
{% endschema %}
