{% liquid
	assign block_section_class = 'block-section'
	unless section.settings.color_scheme == 'background-1'
		assign block_section_class = block_section_class | append: ' block-section-padded'
	endunless
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	#shopify-section-{{ section.id }} .block-section-padded {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top }}px;
			padding-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}
</style>

<section class="section" data-section-id="{{ section.id }}" data-section-type="liquid">
	<div class="color-{{ section.settings.color_scheme }}">
		<div class="{{ block_section_class }} {% if section.settings.full_width %} block-section-fullwidth{% else %} container {% endif %}">

			<div {% if section.settings.full_width %} class="container"{% endif %}>
				{% if section.settings.title != blank or section.settings.subtitle != blank %}
					<div class="block-block-section-title-wrapper">
						<div class="block-section-title-wrap">
							{% if section.settings.title != blank %}
								<h2 class="block-section-title">{{ section.settings.title }}</h2>
							{% endif %}
							{% if section.settings.subtitle != blank %}
								<p class="block-section-subtitle">{{ section.settings.subtitle }}</p>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>

			<div class="liquid">
				{{ section.settings.liquid }}
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "disabled_on": {
    "groups": [
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.custom_liquid.settings.title.label",
      "default": "Your title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.custom_liquid.settings.subtitle.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.custom_liquid.settings.full_width.label",
      "default": false
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "t:sections.custom_liquid.settings.liquid.label",
      "default": "Write or copy/paste Liquid code"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.preset.name"
    }
  ]
}
{% endschema %}
