{% liquid
	assign show_section = true
	if section.settings.products == blank and section.settings.collection.products == blank and section.settings.hide_placeholders == true
		assign show_section = false
	endif
%}

{% if show_section %}
	{% assign expiration_date = section.settings.collection.metafields.custom.countdown | date: '%s' %}
	{% assign now = 'now' | date: '%s' %}

	{% if request.design_mode == false and section.settings.hide_on_expiry and now > expiration_date %}
	{% else %}

	{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}
	{{ 'component-card.css' | asset_url | stylesheet_tag }}
	{{ 'component-price.css' | asset_url | stylesheet_tag }}
	{{ 'component-pills.css' | asset_url | stylesheet_tag }}
	{{ 'component-scroller.css' | asset_url | stylesheet_tag }}
	{{ 'component-rating.css' | asset_url | stylesheet_tag }}

	{%- if section.settings.layout == 'slider' -%}
		{{ 'flickity.css' | asset_url | stylesheet_tag }}
		<script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'carousel-slider.js' | asset_url }}" defer="defer"></script>
	{%- endif -%}

	{% liquid
		assign columns = section.settings.columns | at_most: 5
		assign layout_classes = 'grid-3-col-tablet'

		if columns >= 5
			assign layout_classes = layout_classes | append: ' grid-compact grid-5-col-desktop'
		endif

		if columns == 4
			assign layout_classes = layout_classes | append: ' grid-4-col-desktop'
		endif

		if section.settings.layout == 'slider'
			assign layout_classes = layout_classes | append: ' grid-carousel'
		endif

		if settings.products_two_column_mobile and section.settings.stack_on_mobile
			assign layout_classes = layout_classes | prepend: 'product-grid grid grid-2-col '
		else
			assign layout_classes = layout_classes | prepend: 'grid grid-1-col '
		endif

		if section.settings.layout == 'media'
			assign layout_classes = 'grid product-grid grid-media-cards'
			if settings.products_two_column_mobile and section.settings.stack_on_mobile
				assign layout_classes = layout_classes | append: ' grid-2-col grid-1-col-tablet'
			else
				assign layout_classes = layout_classes | append: ' grid-1-col grid-1-col-tablet'
			endif
		endif

		assign block_section_class = 'block-section'
		unless section.settings.color_scheme == 'background-1'
			assign block_section_class = block_section_class | append: ' block-section-padded'
		endunless

		assign mobile_two_columns = false
		if settings.products_two_column_mobile and section.settings.stack_on_mobile
			assign mobile_two_columns = true
		endif
	%}

	<style>
		#shopify-section-{{ section.id }} .card-overlay .card-info {
			color: {{ section.settings.collection_text_color }};
		}

		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		@media (min-width: 990px) {
			#shopify-section-{{ section.id }} .block-section {
				margin-top: {{ section.settings.spacing_top }}px;
				margin-bottom: {{ section.settings.spacing_bottom }}px;
			}

			#shopify-section-{{ section.id }} .block-section-padded {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: {{ section.settings.spacing_top }}px;
				padding-bottom: {{ section.settings.spacing_bottom }}px;
			}
		}

		{% if section.settings.collection_overlay_background != blank %}
			#shopify-section-{{ section.id }} .card-banner-media::after {
				background: {{ section.settings.collection_overlay_background }};
			}
		{% endif %}
	</style>

	<div class="color-{{ section.settings.color_scheme }}">
		<div class="container">
			<div class="{{ block_section_class }}">
				{% if section.settings.show_countdown == false and section.settings.heading != blank or section.settings.subheading != blank or section.settings.link_title != blank and section.settings.link_url != blank %}
					<div class="block-block-section-title-wrapper {% if section.settings.subheading != blank %}with-subtitle{% endif %}">
						{% if section.settings.heading != blank or section.settings.subheading != blank %}
							<div class="block-section-title-wrap">
								{% if section.settings.heading != blank %}
									<h2 class="block-section-title">{{ section.settings.heading }}</h2>
								{% endif %}
								{% if section.settings.subheading != blank %}
									<p class="block-section-subtitle">{{ section.settings.subheading }}</p>
								{% endif %}
							</div>
						{% endif %}

						{% if section.settings.link_title != blank and section.settings.link_url != blank %}
							<div class="block-section-title-aux">
								<a href="{{ section.settings.link_url }}" class="link-text-secondary">
									{{ section.settings.link_title }} {% render 'angle', direction: 'right' %}
								</a>
							</div>
						{% endif %}
					</div>
				{% endif %}

				<div class="collection">
					<div class="featured-collection-layout {% if section.settings.show_countdown %}has-intro{% endif %}">
						{% if section.settings.show_countdown %}
							<div class="featured-collection-layout-intro">
								{% liquid
									assign sticky = false
									if section.settings.layout == 'grid' or section.settings.layout == 'media' and section.settings.sticky_countdown
										assign sticky = true
									endif
								%}
								{% render 'featured-collection-countdown',
									heading: section.settings.heading,
									subheading: section.settings.subheading,
									link_title: section.settings.link_title,
									link_url: section.settings.link_url,
									collection: section.settings.collection,
									description: section.settings.expiration_collection_description,
									expiration_date: expiration_date,
									hide_on_expiry: section.settings.hide_on_expiry,
									sticky: sticky,
									expiration_message: section.settings.expiration_message
								%}
							</div>
						{% endif %}

						<div class="featured-collection-layout-content">
						{%- if section.settings.layout == 'slider' -%}
							<carousel-slider id="Carousel-{{ section.id }}">
						{%- endif -%}

							{%- unless section.settings.stack_on_mobile -%}
								<div class="scroller {% unless section.settings.layout == 'media' %}scroller-tablet{% endunless %}">
									<div class="scroller-inner">
							{%- endunless -%}

								<div class="{{ layout_classes }}">
									{% liquid
										assign product_card_class = 'color-background-2'
										if section.settings.layout == 'media'
											assign product_card_class = product_card_class | append: ' card-product-media'
										endif
									%}

									{% for product in section.settings.products %}
										{% liquid
											assign lazyload = false
											if forloop.index > 2
												assign lazyload = true
											endif
										%}
										<div class="grid-item">
											{% render 'card-product',
												card_product: product,
												show_vendor: section.settings.show_vendor,
												show_stock: section.settings.show_stock,
												show_rating: section.settings.show_rating,
												show_add_to_cart: settings.products_show_add_to_cart,
												show_add_to_cart_mobile: settings.products_show_add_to_cart_mobile,
												class: product_card_class,
												mobile_two_columns: mobile_two_columns,
												event_context: 'FeaturedCollectionSection',
												lazyload: lazyload
											%}
										</div>
									{% else %}
										{% for product in section.settings.collection.products limit: section.settings.products_to_show %}
											{% liquid
												assign lazyload = false
												if forloop.index > 2
													assign lazyload = true
												endif
											%}
											<div class="grid-item">
												{% render 'card-product',
													card_product: product,
													show_vendor: section.settings.show_vendor,
													show_stock: section.settings.show_stock,
													show_rating: section.settings.show_rating,
													show_add_to_cart: settings.products_show_add_to_cart,
													show_add_to_cart_mobile: settings.products_show_add_to_cart_mobile,
													class: product_card_class,
													mobile_two_columns: mobile_two_columns,
													render_layout: section.settings.layout,
													event_context: 'FeaturedCollectionSection',
													lazyload: lazyload
												%}
											</div>
										{% else %}
											{% for i in (1..section.settings.products_to_show) %}
												<div class="grid-item">
													{% render 'card-product',
														card_product: nil,
														show_vendor: section.settings.show_vendor,
														show_stock: section.settings.show_stock,
														show_rating: section.settings.show_rating,
														show_add_to_cart: settings.products_show_add_to_cart,
														show_add_to_cart_mobile: settings.products_show_add_to_cart_mobile,
														class: product_card_class,
														mobile_two_columns: mobile_two_columns,
														render_layout: section.settings.layout,
														event_context: 'FeaturedCollectionSection'
													%}
												</div>
											{% endfor %}
										{% endfor %}
									{% endfor %}

									{% if section.settings.show_collection == true %}
										{% liquid
											assign collection_card_type = 'overlay'
											if section.settings.layout == 'media'
												assign collection_card_type = 'banner-media'
											endif
										%}
										<div class="grid-item {% if section.settings.layout != 'media' and section.settings.stack_on_mobile %}grid-item-card-fit-content{% endif %}">
											{% render 'card-collection-custom',
												collection: section.settings.collection,
												image: section.settings.collection_image,
												title: section.settings.collection_title,
												description: section.settings.collection_description,
												button_text: section.settings.collection_button_text,
												settings: section.settings,
												card_type: collection_card_type
											%}
										</div>
									{% endif %}
								</div>

							{%- unless section.settings.stack_on_mobile -%}
									</div>
								</div>
							{%- endunless -%}

						{%- if section.settings.layout == 'slider' -%}
								<carousel-navigation for="Carousel-{{ section.id }}">
									<div class="no-js-hidden visible-tablet-up">
										<div class="pill-nav pill-nav-slider pill-nav-slider-inline-nav">
											<button class="pill-nav-item pill-nav-item-prev pill-nav-item-disabled focus-none js-prev color-background-2" aria-disabled="true">
												<span class="visually-hidden">{{ 'sections.slideshow.previous_slide' | t }}</span>
												{% render 'angle', direction: 'left' %}
											</button>
											<button class="pill-nav-item pill-nav-item-next js-next color-background-2" aria-disabled="false">
												<span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
												{% render 'angle', direction: 'right' %}
											</button>
										</div>
									</div>
								</carousel-navigation>
							</carousel-slider>
						{%- endif -%}
						</div>

						{% if request.design_mode and section.settings.hide_on_expiry and now > expiration_date %}
							<div class="featured-collection-editor-hidden-note">
								{{ 'sections.featured_collection.hidden_note' | t }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endif %}

{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured_collection.settings.products_to_show.label"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "t:sections.featured_collection.settings.products.label",
      "info": "t:sections.featured_collection.settings.products.info"
    },
    {
      "type": "checkbox",
      "id": "hide_placeholders",
      "default": false,
      "label": "t:sections.featured_collection.settings.hide_placeholders.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured_collection.settings.heading.label",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.featured_collection.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "t:sections.featured_collection.settings.link_title.label",
      "default": "Show more"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.featured_collection.settings.link_url.label",
      "default": "/collections"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.featured_collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_stock",
      "default": true,
      "label": "t:sections.featured_collection.settings.show_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_rating.label",
      "info": "t:sections.featured_collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_collection",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_collection.label",
      "info": "t:sections.featured_collection.settings.show_collection.info"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.settings.header-collection-card.content",
      "info": "t:sections.featured_collection.settings.header-collection-card.info"
    },
    {
      "type": "image_picker",
      "id": "collection_image",
      "label": "t:sections.featured_collection.settings.collection_image.label",
      "info": "t:sections.featured_collection.settings.collection_image.info"
    },
    {
      "type": "color_background",
      "id": "collection_overlay_background",
      "label": "t:sections.all.gradient.overlay_background.label",
      "info": "t:sections.featured_collection.settings.collection_overlay_background.info",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)"
    },
    {
      "type": "text",
      "id": "collection_title",
      "label": "t:sections.featured_collection.settings.collection_title.label"
    },
    {
      "type": "richtext",
      "id": "collection_description",
      "label": "t:sections.featured_collection.settings.collection_description.label"
    },
    {
      "type": "color",
      "id": "collection_text_color",
      "label": "t:sections.featured_collection.settings.collection_text_color.label"
    },
    {
      "type": "text",
      "id": "collection_button_text",
      "label": "t:sections.featured_collection.settings.collection_button_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.all.layout.layout.label",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.all.layout.layout.options.label_grid"
        },
        {
          "value": "slider",
          "label": "t:sections.all.layout.layout.options.label_slider"
        },
        {
          "value": "media",
          "label": "t:sections.all.layout.layout.options.label_media"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns",
      "label": "t:sections.all.layout.desktop_columns.label",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "default": false,
      "label": "t:sections.all.layout.stack_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.settings.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "default": false,
      "label": "t:sections.featured_collection.settings.show_countdown.label",
      "info": "t:sections.featured_collection.settings.show_countdown.info"
    },
    {
      "type": "checkbox",
      "id": "sticky_countdown",
      "default": false,
      "label": "t:sections.featured_collection.settings.sticky_countdown.label",
      "info": "t:sections.featured_collection.settings.sticky_countdown.info"
    },
    {
      "type": "checkbox",
      "id": "hide_on_expiry",
      "default": false,
      "label": "t:sections.featured_collection.settings.hide_on_expiry.label"
    },
    {
      "type": "richtext",
      "id": "expiration_collection_description",
      "label": "t:sections.featured_collection.settings.expiration_collection_description.label",
      "info": "t:sections.featured_collection.settings.expiration_collection_description.info"
    },
    {
      "type": "richtext",
      "id": "expiration_message",
      "label": "t:sections.featured_collection.settings.expiration_message.label",
      "info": "t:sections.featured_collection.settings.expiration_message.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.presets.name"
    }
  ]
}
{% endschema %}
