{% if section.blocks.size > 0 %}
	{{ 'component-card.css' | asset_url | stylesheet_tag }}
	{{ 'section-features.css' | asset_url | stylesheet_tag }}

	{% unless section.settings.stack_on_mobile %}
		{{ 'flickity.css' | asset_url | stylesheet_tag }}
		{{ 'component-pills.css' | asset_url | stylesheet_tag }}
		<script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'text-slider.js' | asset_url }}" defer="defer"></script>
	{% endunless %}

	{% liquid
		assign block_section_class = 'block-section'
		unless section.settings.color_scheme == 'background-1'
			assign block_section_class = block_section_class | append: ' block-section-padded'
		endunless
	%}

	<style>
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		@media (min-width: 990px) {
			#shopify-section-{{ section.id }} .block-section {
				margin-top: {{ section.settings.spacing_top }}px;
				margin-bottom: {{ section.settings.spacing_bottom }}px;
			}

			#shopify-section-{{ section.id }} .block-section-padded {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: {{ section.settings.spacing_top }}px;
				padding-bottom: {{ section.settings.spacing_bottom }}px;
			}
		}
	</style>

	<div
		class="section-features-wrapper {% if section.settings.full_width %}section-features-wrapper-fullwidth color-{{ section.settings.color_scheme }}{% endif %}">
		<div class="media-icon-items media-icon-items-size-{{ section.settings.size }}">
			<div class="container">
				<div class="{{ block_section_class }} {% if section.settings.full_width == false %}color-{{ section.settings.color_scheme }}{% endif %}">
				{% unless section.settings.stack_on_mobile %}
					<text-slider id="Carousel-{{ section.id }}" data-autoplay="{{ section.settings.auto_rotate }}" data-speed="3.5">
				{% endunless %}
					<div class="media-icon-items-grid media-icon-items-grid-{{ section.blocks.size }}">
						{% for block in section.blocks %}
							<div
								class="media-icon-item
								{% if block.settings.title == blank or block.settings.text == blank %}media-icon-item-align-center{% endif %}"
								{{ block.shopify_attributes }}
							>
								{% if block.settings.image %}
									<span class="media-icon-item-icon">
										<img
											src="{{ block.settings.image | image_url: width: 40 }}"
											srcset="{{ block.settings.image | image_url: width: 40 }} 1x, {{ block.settings.image | image_url: width: 80 }} 2x"
											alt="{{ block.settings.image.alt | escape }}"
											width="{{ block.settings.image.width }}"
											height="{{ block.settings.image.height }}"
											loading="lazy"
										>
									</span>
								{% else %}
									{% if block.settings.icon != blank %}
										<span class="media-icon-item-icon">
											{% render 'icons', icon: block.settings.icon %}
										</span>
									{% endif %}
								{% endif %}

								<div class="media-icon-item-content">
									{% if block.settings.title != blank %}
										<p class="media-icon-item-title h5">{{ block.settings.title }}</p>
									{% endif %}
									{% if block.settings.text != blank %}
										<div class="media-icon-item-subtitle">
											{{ block.settings.text }}
										</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% unless section.settings.stack_on_mobile %}
						<text-slider-navigation for="Carousel-{{ section.id }}">
							<div class="no-js-hidden hidden-mobile-up">
								<div class="pill-nav pill-nav-slider pill-nav-slider-inline-nav">
									<button class="pill-nav-item pill-nav-item-prev focus-none js-prev" aria-disabled="true">
										<span class="visually-hidden">{{ 'sections.slideshow.previous_slide' | t }}</span>
										{% render 'angle', direction: 'left' %}
									</button>
									<button class="pill-nav-item pill-nav-item-next js-next" aria-disabled="false">
										<span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
										{% render 'angle', direction: 'right' %}
									</button>
								</div>
							</div>
						</text-slider-navigation>
					</text-slider>
				{% endunless %}
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.features.name",
  "class": "section-features",
  "max_blocks": 4,
  "disabled_on": {
    "groups": [
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.features.settings.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "default": true,
      "label": "t:sections.all.layout.stack_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "default": false,
      "label": "t:sections.features.settings.auto_rotate.label",
      "info": "t:sections.features.settings.auto_rotate.info"
    },
    {
      "id": "size",
      "label": "t:sections.features.settings.size.label",
      "type": "select",
      "default": "large",
      "options": [
        {
          "value": "small",
          "label": "t:sections.features.settings.size.options.small"
        },
        {
          "value": "large",
          "label": "t:sections.features.settings.size.options.large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "accent-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 40,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 40,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "t:sections.features.blocks.feature.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.all.icon.name",
          "default": "check",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "label": "t:sections.all.icon.options.label_activity",
              "value": "activity"
            },
            {
              "label": "t:sections.all.icon.options.label_add_comment",
              "value": "add-comment"
            },
            {
              "label": "t:sections.all.icon.options.label_aperture",
              "value": "aperture"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_down",
              "value": "arrow-down"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_left",
              "value": "arrow-left"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_right",
              "value": "arrow-right"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_up",
              "value": "arrow-up"
            },
            {
              "label": "t:sections.all.icon.options.label_assembly",
              "value": "assembly"
            },
            {
              "label": "t:sections.all.icon.options.label_at",
              "value": "at"
            },
            {
              "label": "t:sections.all.icon.options.label_attachment",
              "value": "attachment"
            },
            {
              "label": "t:sections.all.icon.options.label_award",
              "value": "award"
            },
            {
              "label": "t:sections.all.icon.options.label_bag",
              "value": "bag"
            },
            {
              "label": "t:sections.all.icon.options.label_basket",
              "value": "basket"
            },
            {
              "label": "t:sections.all.icon.options.label_bookmark",
              "value": "bookmark"
            },
            {
              "label": "t:sections.all.icon.options.label_box",
              "value": "box"
            },
            {
              "label": "t:sections.all.icon.options.label_box_2",
              "value": "box-2"
            },
            {
              "label": "t:sections.all.icon.options.label_cart",
              "value": "cart"
            },
            {
              "label": "t:sections.all.icon.options.label_certificate",
              "value": "certificate"
            },
            {
              "label": "t:sections.all.icon.options.label_chat",
              "value": "chat"
            },
            {
              "label": "t:sections.all.icon.options.label_check",
              "value": "check"
            },
            {
              "label": "t:sections.all.icon.options.label_clipboard",
              "value": "clipboard"
            },
            {
              "label": "t:sections.all.icon.options.label_clock",
              "value": "clock"
            },
            {
              "label": "t:sections.all.icon.options.label_cog",
              "value": "cog"
            },
            {
              "label": "t:sections.all.icon.options.label_credit_cart",
              "value": "credit-card"
            },
            {
              "label": "t:sections.all.icon.options.label_cross",
              "value": "cross"
            },
            {
              "label": "t:sections.all.icon.options.label_desktop",
              "value": "desktop"
            },
            {
              "label": "t:sections.all.icon.options.label_document",
              "value": "document"
            },
            {
              "label": "t:sections.all.icon.options.label_dollar",
              "value": "dollar"
            },
            {
              "label": "t:sections.all.icon.options.label_download",
              "value": "download"
            },
            {
              "label": "t:sections.all.icon.options.label_disabled",
              "value": "disabled"
            },
            {
              "label": "t:sections.all.icon.options.label_email",
              "value": "email"
            },
            {
              "label": "t:sections.all.icon.options.label_euro",
              "value": "euro"
            },
            {
              "label": "t:sections.all.icon.options.label_flag",
              "value": "flag"
            },
            {
              "label": "t:sections.all.icon.options.label_gift_wrap",
              "value": "gift-wrap"
            },
            {
              "label": "t:sections.all.icon.options.label_globe",
              "value": "globe"
            },
            {
              "label": "t:sections.all.icon.options.label_heart",
              "value": "heart"
            },
            {
              "label": "t:sections.all.icon.options.label_heart_full",
              "value": "heart-full"
            },
            {
              "label": "t:sections.all.icon.options.label_home",
              "value": "home"
            },
            {
              "label": "t:sections.all.icon.options.label_info",
              "value": "info"
            },
            {
              "label": "t:sections.all.icon.options.label_label",
              "value": "label"
            },
            {
              "label": "t:sections.all.icon.options.label_laptop",
              "value": "laptop"
            },
            {
              "label": "t:sections.all.icon.options.label_map",
              "value": "map"
            },
            {
              "label": "t:sections.all.icon.options.label_menu",
              "value": "menu"
            },
            {
              "label": "t:sections.all.icon.options.label_minus",
              "value": "minus"
            },
            {
              "label": "t:sections.all.icon.options.label_mobile",
              "value": "mobile"
            },
            {
              "label": "t:sections.all.icon.options.label_paper_airplane",
              "value": "paper-airplane"
            },
            {
              "label": "t:sections.all.icon.options.label_paperclip",
              "value": "paperclip"
            },
            {
              "label": "t:sections.all.icon.options.label_percent",
              "value": "percent"
            },
            {
              "label": "t:sections.all.icon.options.label_phone",
              "value": "phone"
            },
            {
              "label": "t:sections.all.icon.options.label_pin",
              "value": "pin"
            },
            {
              "label": "t:sections.all.icon.options.label_plus",
              "value": "plus"
            },
            {
              "label": "t:sections.all.icon.options.label_pound",
              "value": "pound"
            },
            {
              "label": "t:sections.all.icon.options.label_refund_receipt",
              "value": "refund-receipt"
            },
            {
              "label": "t:sections.all.icon.options.label_returns",
              "value": "returns"
            },
            {
              "label": "t:sections.all.icon.options.label_search",
              "value": "search"
            },
            {
              "label": "t:sections.all.icon.options.label_settings",
              "value": "settings"
            },
            {
              "label": "t:sections.all.icon.options.label_share",
              "value": "share"
            },
            {
              "label": "t:sections.all.icon.options.label_shield",
              "value": "shield"
            },
            {
              "label": "t:sections.all.icon.options.label_shield_plus",
              "value": "shield-plus"
            },
            {
              "label": "t:sections.all.icon.options.label_shirt",
              "value": "shirt"
            },
            {
              "label": "t:sections.all.icon.options.label_star_empty",
              "value": "star-empty"
            },
            {
              "label": "t:sections.all.icon.options.label_star_full",
              "value": "star-full"
            },
            {
              "label": "t:sections.all.icon.options.label_store",
              "value": "store"
            },
            {
              "label": "t:sections.all.icon.options.label_support",
              "value": "support"
            },
            {
              "label": "t:sections.all.icon.options.label_truck",
              "value": "truck"
            },
            {
              "label": "t:sections.all.icon.options.label_user",
              "value": "user"
            },
            {
              "label": "t:sections.all.icon.options.label_user_alt",
              "value": "user-alt"
            },
            {
              "label": "t:sections.all.icon.options.label_wallet",
              "value": "wallet"
            },
            {
              "label": "t:sections.all.icon.options.label_warning",
              "value": "warning"
            },
            {
              "label": "t:sections.all.icon.options.label_yen",
              "value": "yen"
            },
            {
              "label": "t:sections.all.icon.options.label_facebook",
              "value": "facebook"
            },
            {
              "label": "t:sections.all.icon.options.label_instagram",
              "value": "instagram"
            },
            {
              "label": "t:sections.all.icon.options.label_linkedin",
              "value": "linkedin"
            },
            {
              "label": "t:sections.all.icon.options.label_pinterest",
              "value": "pinterest"
            },
            {
              "label": "t:sections.all.icon.options.label_snapchat",
              "value": "snapchat"
            },
            {
              "label": "t:sections.all.icon.options.label_tiktok",
              "value": "tiktok"
            },
            {
              "label": "t:sections.all.icon.options.label_tumblr",
              "value": "tumblr"
            },
            {
              "label": "t:sections.all.icon.options.label_twitter",
              "value": "twitter"
            },
            {
              "label": "t:sections.all.icon.options.label_x",
              "value": "x"
            },
            {
              "label": "t:sections.all.icon.options.label_vimeo",
              "value": "vimeo"
            },
            {
              "label": "t:sections.all.icon.options.label_youtube",
              "value": "youtube"
            },
            {
              "label": "t:sections.all.icon.options.label_whatsapp",
              "value": "whatsapp"
            }
          ]
        },
        {
          "id": "image",
          "label": "t:sections.features.blocks.feature.settings.image.label",
          "info": "t:sections.features.blocks.feature.settings.image.info",
          "type": "image_picker"
        },
        {
          "id": "title",
          "label": "t:sections.features.blocks.feature.settings.title.label",
          "type": "text",
          "default": "Feature"
        },
        {
          "id": "text",
          "label": "t:sections.features.blocks.feature.settings.text.label",
          "type": "richtext",
          "default": "<p>Pair text with an icon to focus on your store's features.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.features.presets.name",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
