{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} > .container > .block-section {
    margin-top: {{ section.settings.spacing_top }}px;
    margin-bottom: {{ section.settings.spacing_bottom }}px;
  }
</style>

{% liquid
	assign total_active_values = 0
	for filter in collection.filters
		for value in filter.active_values
			assign total_active_values = total_active_values | plus: 1
		endfor
		if filter.min_value.value != nil or filter.max_value.value != nil
			assign total_active_values = total_active_values | plus: 1
		endif
	endfor
%}

<div class="container">
	<div class="block-section">

		{% if collection.all_products_count > 0 %}

			{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
				<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
			{%- endif -%}

			{% if section.settings.side_menu == blank and section.settings.enable_filtering == false or collection.filters == empty %}				{% assign renders_filters = false %}
			{% else %}
				{% assign renders_filters = true %}
			{% endif %}

			<facet-filters-form>
				<form id="FacetsFilterForm" class="facets-form"></form>

				{%- if collection.current_vendor -%}
					<input type="hidden" name="q" value="{{ collection.current_vendor | escape }}" form="FacetsFilterForm">
				{%- elsif collection.current_type -%}
					<input type="hidden" name="q" value="{{ collection.current_type | escape }}" form="FacetsFilterForm">
				{%- endif -%}

				<div class="{% if renders_filters == true %}page-layout-with-sidebar{% else %}page-layout page-layout-fullwidth{% endif %}">
					<div class="page-layout-main-content">
						{% render 'collection-actions',
							results: collection,
							enable_product_count: section.settings.show_product_count,
							enable_sorting: section.settings.enable_sorting,
							enable_filters: renders_filters,
							button_color_scheme: section.settings.filter_button_color_scheme
						%}
					</div>
				</div>

				<div
					{% if renders_filters %}
						class="facets-wrap page-layout-with-sidebar page-layout-with-sidebar-drawer"
					{% else %}
						class="facets-wrap page-layout page-layout-fullwidth"
					{% endif %}
				>
					{% if renders_filters %}
						{% render 'collection-filters',
							filters_enabled: section.settings.enable_filtering,
							results: collection,
							side_menu_title: section.settings.side_menu_title,
							side_menu: section.settings.side_menu,
							hide_empty_filters: section.settings.hide_empty_filters
						%}
					{% endif %}

					<div class="page-layout-main-content">
						{%- if collection.current_vendor -%}
							<input type="hidden" name="q" value="{{ collection.current_vendor | escape }}" form="FacetsFilterForm">
						{%- elsif collection.current_type -%}
							<input type="hidden" name="q" value="{{ collection.current_type | escape }}" form="FacetsFilterForm">
						{%- endif -%}

						<div id="ProductGridContainer">
							{%- paginate collection.products by section.settings.products_per_page -%}
								{%- if collection.products.size == 0 -%}
									<div id="product-grid" class="collection collection-empty" data-id="{{ section.id }}">
										<div class="loading-overlay"></div>
										<h2>{{ 'templates.collection.no_products_title' | t }}</h2>
										<p>{{ 'templates.collection.use_fewer_filters_html' | t: link: collection.url, class: 'button-text-link' }}</p>
									</div>
								{% else %}
									{% capture grid_classes %}
										{% if section.settings.product_card_type == 'normal' %}
											grid
											product-grid
											{% if settings.products_two_column_mobile %}grid-2-col{% else %}grid-1-col{% endif %}
											grid-3-col-tablet
											{% if section.settings.desktop_product_columns == '4' %} grid-4-col-desktop{% endif %}
											{% if section.settings.desktop_product_columns == '5' %} grid-compact grid-5-col-desktop{% endif %}
										{% elsif section.settings.product_card_type == 'media_compact' %}
											grid
											product-grid
											grid-media-cards-compact
											{% if settings.products_two_column_mobile %}grid-2-col{% else %}grid-1-col{% endif %}
											grid-1-col-tablet
										{% else %}
											grid
											product-grid
											grid-media-cards
											{% if settings.products_two_column_mobile %}grid-2-col{% else %}grid-1-col{% endif %}
											grid-1-col-tablet
										{% endif %}
									{% endcapture %}

									{% liquid
										assign event_context = ' - Collection: ' | append: collection.title
										assign card_class = 'color-background-2'
										if section.settings.product_card_type == 'media'
											assign card_class = card_class | append: ' card-product-media'
										endif
									%}
									<div class="collection">
										<div class="loading-overlay"></div>
										<ul
											id="product-grid"
											class="{{ grid_classes }}"
											data-id="{{ section.id }}"
										>
											{% for block in section.blocks %}
												{% liquid
													assign row_position = block.settings.row_position | plus: 0
													if block.settings.hide_on_filtered == true and total_active_values > 0
														continue
													endif
												%}
												{% assign row_position = block.settings.row_position | plus: 0 %}
												{% if row_position == 0 %}
													<li class="grid-item grid-item-block">
														{% render 'main-collection-banner-inline', section: section, block: block %}
													</li>
												{% endif %}
											{% endfor %}

											{% for product in collection.products %}
												{% liquid
													assign current_row = forloop.index0 | divided_by: section.settings.desktop_product_columns
													assign current_row_item = forloop.index0 | modulo: section.settings.desktop_product_columns

													assign lazyload = false
													if forloop.index > 4
														assign lazyload = true
													endif
												%}
												{% for block in section.blocks %}
													{% liquid
														assign row_position = block.settings.row_position | plus: 0
														if block.settings.hide_on_filtered == true and total_active_values > 0
															continue
														endif
													%}
													{% if row_position == current_row and current_row_item == 0 and current_row > 0 %}
														<li class="grid-item grid-item-block">
															{% render 'main-collection-banner-inline', section: section, block: block %}
														</li>
													{% endif %}
												{% endfor %}

												{% if section.settings.product_card_type == 'media_compact' %}
													<li class="grid-item">
														{% render 'card-product-media-compact',
															card_product: product,
															show_vendor: section.settings.show_vendor,
															show_stock: section.settings.show_stock,
															show_rating: section.settings.show_rating,
															mobile_two_columns: settings.products_two_column_mobile,
															class: 'color-background-2',
															event_context: event_context,
															lazyload: lazyload
														%}
													</li>
												{% else %}
													<li class="grid-item">
														{% render 'card-product',
															card_product: product,
															show_vendor: section.settings.show_vendor,
															show_stock: section.settings.show_stock,
															show_rating: section.settings.show_rating,
															show_add_to_cart: settings.products_show_add_to_cart,
															show_add_to_cart_mobile: settings.products_show_add_to_cart_mobile,
															mobile_two_columns: settings.products_two_column_mobile,
															class: card_class,
															render_layout: section.settings.product_card_type,
															event_context: event_context,
															lazyload: lazyload
														%}
													</li>
												{% endif %}
											{% endfor %}

											{% assign current_row = current_row | plus: 1 %}

											{% for block in section.blocks %}
												{% liquid
													assign row_position = block.settings.row_position | plus: 0
													if block.settings.hide_on_filtered == true and total_active_values > 0
														continue
													endif
												%}
												{% if row_position == -1 or block.settings.row_position == current_row %}
													<li class="grid-item grid-item-block">
														{% render 'main-collection-banner-inline', section: section, block: block %}
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}

								{%- if paginate.pages > 1 -%}
									{%- if settings.products_pagination == "ajax" -%}
										<ajax-paginate>
									{%- endif -%}
										{% render 'pagination', paginate: paginate, anchor: '' %}
									{%- if settings.products_pagination == "ajax" -%}
										</ajax-paginate>
									{%- endif -%}
								{%- endif -%}
							{% endpaginate %}
						</div>

					</div>
				</div>
			</facet-filters-form>

		{% else %}

			<div class="page-hero page-hero-empty">
				<div class="page-hero-caption">
					{{ 'templates.collection.empty' | t }}
				</div>

				<a href="{{ routes.all_products_collection_url }}" class="button">
					{{ 'general.continue_shopping' | t }} {% render 'angle', direction: 'right' %}
				</a>
			</div>

		{% endif %}

	</div>
</div>

{% schema %}
{
  "name": "t:sections.main_collection_product_grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 6,
      "max": 48,
      "step": 1,
      "default": 24,
      "label": "t:sections.main_collection_product_grid.settings.products_per_page.label"
    },
    {
      "type": "select",
      "id": "product_card_type",
      "label": "t:sections.all.layout.product_card_type.label",
      "default": "normal",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.layout.product_card_type.options.label_normal"
        },
        {
          "value": "media",
          "label": "t:sections.all.layout.product_card_type.options.label_media"
        },
        {
          "value": "media_compact",
          "label": "t:sections.all.layout.product_card_type.options.label_media_compact"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_product_columns",
      "label": "t:sections.all.layout.desktop_columns.label",
      "info": "t:sections.main_collection_product_grid.settings.desktop_product_columns.info",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.enable_filtering.label",
      "info": "t:sections.main_collection_product_grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_product_count.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "hide_empty_filters",
      "default": false,
      "label": "t:sections.main_collection_product_grid.settings.hide_empty_filters.label",
      "info": "t:sections.main_collection_product_grid.settings.hide_empty_filters.info"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_stock",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main_collection_product_grid.settings.show_rating.label",
      "info": "t:sections.main_collection_product_grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "filter_button_color_scheme",
      "label": "t:sections.main_collection_product_grid.settings.filter_button_color_scheme.label",
      "default": "button-secondary",
      "options": [
        {
          "value": "button-primary",
          "label": "t:sections.all.colors.button_primary.label"
        },
        {
          "value": "button-secondary",
          "label": "t:sections.all.colors.button_secondary.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_collection_product_grid.settings.header_1.content"
    },
    {
      "type": "text",
      "id": "side_menu_title",
      "label": "t:sections.main_collection_product_grid.settings.side_menu_title.label",
      "default": "Collections"
    },
    {
      "type": "link_list",
      "id": "side_menu",
      "label": "t:sections.main_collection_product_grid.settings.side_menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "inline_banner",
      "name": "t:sections.main_collection_product_grid.blocks.inline_banner.name",
      "settings": [
        {
          "type": "select",
          "id": "row_position",
          "default": "1",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.row_position.label",
          "info": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.row_position.info",
          "options": [
            {
              "value": "0",
              "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.row_position.options.label_first"
            },
            {
              "value": "-1",
              "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.row_position.options.label_last"
            },
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "hide_on_filtered",
          "default": false,
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.hide_on_filtered.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.image.label"
        },
        {
          "type": "color_background",
          "id": "overlay_background",
          "label": "t:sections.all.gradient.overlay_background.label",
          "default": "linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.heading.label",
          "default": "Inline banner"
        },
        {
          "id": "text",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.text.label",
          "type": "richtext",
          "default": "<p>Use this text to advertise a promotion or sale on this collection.</p>"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.link_title.label",
          "default": "Get in touch"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.main_collection_product_grid.blocks.inline_banner.settings.link_url.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:sections.all.colors.color_scheme.label",
          "default": "accent-2",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "accent-3",
              "label": "t:sections.all.colors.accent_3.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
