{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<cart-items class="container {% if cart == empty %} is-empty{% endif %}" data-event-context="CartPage">
	<div class="block-section">
		<div class="page-box color-background-2">

			<div id="cart-page-title-wrap" data-id="{{ section.id }}">
				<div class="page-title-wrap">
					<h1 class="page-title">{{ 'templates.cart.title' | t }}</h1>

					{% capture continue_shopping_link %}
						<a href="{{ routes.all_products_collection_url }}" class="link-text-primary page-title-addon">{{ 'general.continue_shopping' | t }}</a>
					{% endcapture %}

					{% if settings.free_shipping_enabled %}
						{% assign free_shipping_threshold = settings.free_shipping_threshold | times: 100 %}
						{% unless cart.total_price >= free_shipping_threshold %}
							{% assign amount_left = free_shipping_threshold | minus: cart.total_price | money %}
							<div class="page-title-addon page-title-addon-desktop">
								{{ 'templates.cart.free_shipping.amount_required' | t: amount: amount_left }}
								{{ continue_shopping_link }}
							</div>
						{% else %}
							{{ continue_shopping_link }}
						{% endunless %}
					{% else %}
						{{ continue_shopping_link }}
					{% endif %}
				</div>
			</div>

			<div class="cart-warnings">
				<h1 class="page-title">{{ 'templates.cart.empty' | t }}</h1>
				<a href="{{ routes.all_products_collection_url }}" class="button">
					{{ 'general.continue_shopping' | t }} {% render 'angle', direction: 'right' %}
				</a>

				{%- if shop.customer_accounts_enabled and customer == nil -%}
					<h4 class="cart-login-title">{{ 'templates.cart.login.title' | t }}</h4>
					<p class="cart-login-paragraph">
						{{ 'templates.cart.login.paragraph_html' | t: link: routes.account_login_url }}
					</p>
				{%- endif -%}
			</div>

			<form action="{{ routes.cart_url }}" class="cart-contents" method="post" id="cart">
				<div class="main-cart-items" id="main-cart-items" data-id="{{ section.id }}">
					<div class="js-contents">
						{%- if cart != empty -%}
							<table class="cart-items">
								<thead>
								<tr>
									<th colspan="2" scope="col">{{ 'templates.cart.headings.product' | t }}</th>
									<th class="hidden-mobile-up right" colspan="1" scope="col">{{ 'templates.cart.headings.total' | t }}</th>
									<th class="cart-items-heading-wide hidden-mobile" colspan="1" scope="col">{{ 'templates.cart.headings.quantity' | t }}</th>
									<th class="hidden-mobile right" colspan="1" scope="col">{{ 'templates.cart.headings.total' | t }}</th>
								</tr>
								</thead>

								<tbody>
								{%- for item in cart.items -%}
									<tr class="cart-item js-cart-item" id="CartItem-{{ item.index | plus: 1 }}">
										<td class="cart-item-media">
											{% if item.image %}
												{% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
												<a href="{{ item.url }}" class="cart-item-link" aria-hidden="true" tabindex="-1"> </a>
												<div class="cart-item-image-container color-background-2">
													{%- capture image_sizes -%}
														{%- if item.image.width >= 160 -%}{{ item.image | image_url: width: 160 }} 1x,{%- endif -%}
														{%- if item.image.width >= 320 -%}{{ item.image | image_url: width: 320 }} 2x{%- endif -%}
													{%- endcapture -%}
													{% assign image_height = 320 | divided_by: item.image.aspect_ratio | ceil %}
													{{ item.image | image_url: width: 320 | image_tag:
													class: 'cart-item-image',
													width: 320,
													height: image_height,
													srcset: image_sizes
													}}
												</div>
											{% endif %}
										</td>

										<td class="cart-item-details">
											{%- if section.settings.show_vendor -%}
												<p class="cart-item-eyebrow">{{ item.product.vendor }}</p>
											{%- endif -%}

											<a href="{{ item.url }}" class="cart-item-name">{{ item.product.title | escape }}</a>

											{%- if item.original_price != item.final_price -%}
												<div class="cart-item-discounted-prices">
												<span class="visually-hidden">
													{{ 'products.product.price.regular_price' | t }}
												</span>
													<s class="cart-item-old-price product-option">
														{{- item.original_price | money -}}
													</s>
													<span class="visually-hidden">
													{{ 'products.product.price.sale_price' | t }}
												</span>
													<strong class="cart-item-final-price product-option">
														{{ item.final_price | money }}
													</strong>
												</div>
											{%- else -%}
												<div class="product-option">
													{{ item.original_price | money }}
												</div>
											{%- endif -%}

											{%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
												<dl>
													{%- if item.product.has_only_default_variant == false -%}
														{%- for option in item.options_with_values -%}
															<div class="product-option">
																<dt>{{ option.name }}: </dt>
																<dd>{{ option.value }}</dd>
															</div>
														{%- endfor -%}
													{%- endif -%}

													{%- for property in item.properties -%}
														{%- assign property_first_char = property.first | slice: 0 -%}
														{%- if property.last != blank and property_first_char != '_' -%}
															<div class="product-option">
																<dt>{{ property.first }}: </dt>
																<dd>
																	{%- if property.last contains '/uploads/' -%}
																		<a href="{{ property.last }}" class="link" target="_blank">
																			{{ property.last | split: '/' | last }}
																		</a>
																	{%- else -%}
																		{{ property.last }}
																	{%- endif -%}
																</dd>
															</div>
														{%- endif -%}
													{%- endfor -%}
												</dl>

												<p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
											{%- endif -%}

											<ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
												{%- for discount in item.discounts -%}
													<li class="discounts-discount">
														{% render 'icon-label' %}
														{{ discount.title }}
													</li>
												{%- endfor -%}
											</ul>
										</td>

										<td class="cart-item-totals right hidden-mobile-up">
											<div class="cart-item-loading-overlay hidden">
												<div class="spinner-sm"></div>
											</div>

											<div class="cart-item-price-wrapper">
												{%- if item.original_line_price != item.final_line_price -%}
													<dl class="cart-item-discounted-prices">
														<dt class="visually-hidden">
															{{ 'products.product.price.regular_price' | t }}
														</dt>
														<dd>
															<s class="cart-item-old-price price price-end">
																{{ item.original_line_price | money }}
															</s>
														</dd>
														<dt class="visually-hidden">
															{{ 'products.product.price.sale_price' | t }}
														</dt>
														<dd class="price price-end">
															{{ item.final_line_price | money }}
														</dd>
													</dl>
												{%- else -%}
													<span class="price price-end">
													{{ item.original_line_price | money }}
												</span>
												{%- endif -%}

												{%- if item.variant.available and item.unit_price_measurement -%}
													<div class="unit-price cart-unit-price">
														<span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
														{{ item.variant.unit_price | money }}
														<span aria-hidden="true">/</span>
														<span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
														{%- if item.variant.unit_price_measurement.reference_value != 1 -%}
															{{- item.variant.unit_price_measurement.reference_value -}}
														{%- endif -%}
														{{ item.variant.unit_price_measurement.reference_unit }}
													</div>
												{%- endif -%}
											</div>
										</td>

										<td class="cart-item-quantity">
											<div class="cart-item-quantity-wrapper">
												<label class="visually-hidden" for="quantity-input-{{ item.index | plus: 1 }}">
													{{ 'products.product.quantity.label' | t }}
												</label>

												<quantity-input class="quantity-input">
													<button type="button" name="minus" class="quantity-input-button quantity-input-minus no-js-hidden">
														&minus;
														<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
													</button>
													<input
														type="number"
														name="updates[]"
														class="quantity-input-field"
														id="quantity-input-{{ item.index | plus: 1 }}"
														value="{{ item.quantity }}"
														min="0"
														aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
														data-index="{{ item.index | plus: 1 }}"
													>
													<button type="button" name="plus" class="quantity-input-button quantity-input-plus no-js-hidden">
														&plus;
														<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
													</button>
												</quantity-input>

												<cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
													<a href="{{ item.url_to_remove }}" class="button-cart-remove" aria-label="{{ 'templates.cart.remove_title' | t: title: item.title }}">
														{% render 'icon-cross' %}
													</a>
												</cart-remove-button>
											</div>
											<div class="cart-item-error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
												<small class="cart-item-error-text"></small>
												{% render 'icon-warning' %}
											</div>
										</td>

										<td class="cart-item-totals right hidden-mobile">
											<div class="cart-item-loading-overlay hidden">
												<div class="spinner-sm"></div>
											</div>

											<div class="cart-item-price-wrapper">
												{%- if item.original_line_price != item.final_line_price -%}
													<dl class="cart-item-discounted-prices">
														<dt class="visually-hidden">
															{{ 'products.product.price.regular_price' | t }}
														</dt>
														<dd>
															<s class="cart-item-old-price price price-end">
																{{ item.original_line_price | money }}
															</s>
														</dd>
														<dt class="visually-hidden">
															{{ 'products.product.price.sale_price' | t }}
														</dt>
														<dd class="price price-end">
															{{ item.final_line_price | money }}
														</dd>
													</dl>
												{%- else -%}
													<span class="price price-end">
													{{ item.original_line_price | money }}
												</span>
												{%- endif -%}

												{%- if item.variant.available and item.unit_price_measurement -%}
													<div class="unit-price cart-unit-price">
														<span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
														{{ item.variant.unit_price | money }}
														<span aria-hidden="true">/</span>
														<span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
														{%- if item.variant.unit_price_measurement.reference_value != 1 -%}
															{{- item.variant.unit_price_measurement.reference_value -}}
														{%- endif -%}
														{{ item.variant.unit_price_measurement.reference_unit }}
													</div>
												{%- endif -%}
											</div>
										</td>
									</tr>
								{%- endfor -%}
								</tbody>
							</table>
						{%- endif -%}
					</div>
				</div>

				<p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
				<p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
			</form>
		</div>
	</div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main_cart_items.name",
  "class": "section-main-cart-items",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main_cart_items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
