{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
<div class="container container-narrow password-container">
	<div class="password-wrap">
		{%- if section.settings.logo != blank -%}
			{%- assign image_size = section.settings.logo_width -%}
			{%- assign image_size2 = section.settings.logo_width | times: 2 -%}
			<img
				src="{{ section.settings.logo | image_url: width: image_size }}"
				srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size2 }} 2x"
				alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
				width="{{ section.settings.logo.width }}"
				height="{{ section.settings.logo.height }}"
				class="password-logo"
			>
		{%- else -%}
			<h1>{{ shop.name }}</h1>
		{%- endif -%}

		<div class="password-content">
			{%- if shop.password_message != blank -%}
				{{ shop.password_message }}
			{%- else -%}
				{{ 'password_page.password_protected' | t }}
			{%- endif -%}
		</div>

		{%- form 'storefront_password', class: 'password-form' -%}
			<div class="password-form-field-wrap">
				<div class="password-field field {% if form.errors %} password-field-error {% endif %}">
					<label class="field-label" for="Password">{{ 'password_page.login_form_password_label' | t }}</label>
					<input
						type="password"
						name="password"
						id="Password"
						class="field-input"
						autocomplete="current-password"
						{% if form.errors %}
							aria-invalid="true"
							aria-describedby="PasswordLoginForm-password-error"
						{%- endif -%}
					/>
				</div>
				<button name="commit" class="button">
					{{ 'password_page.login_form_submit' | t }} {% render 'angle', direction: 'right' %}
				</button>
			</div>

			{%- if form.errors -%}
				<div class="password-form-password-error form-status form-status-error" role="status">
					<span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
					<span class="form-message">{{ 'password_page.login_form_error' | t }}</span>
				</div>
			{%- endif -%}
		{%- endform -%}
	</div>

	<div class="password-footer-text">{{ 'password_page.admin_link_html' | t }}</div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main_password.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.main_password.settings.logo_width.label"
    }
  ]
}
{% endschema %}
