{{ 'template-404.css' | asset_url | stylesheet_tag }}

<div class="container container-narrow">
	<div class="block-section block-section-404">
		<p class="eyebrow">
			{{ 'templates.404.eybrow' | t }}
		</p>
		<h1 class="page-title">
			{{ 'templates.404.heading' | t }}
		</h1>
		<a href="{{ routes.all_products_collection_url }}" class="button">
			{{ 'templates.404.shop_link' | t }}
		</a>
	</div>
</div>
