<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-scroller.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-scroller.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rating.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>

{% if section.settings.show %}
	{% liquid
		assign block_section_class = 'block-section'
		unless section.settings.color_scheme == 'background-1'
			assign block_section_class = block_section_class | append: ' block-section-padded'
		endunless

		assign layout_classes = 'grid'
		case recommendations.products_count
			when 1
				assign layout_classes = layout_classes | append: ' grid-1-col grid-2-col-tablet grid-4-col-desktop'
			when 2
				assign layout_classes = layout_classes | append: ' grid-2-col-tablet grid-4-col-desktop'
			when 3
				assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-3-col-desktop'
			when 4
				assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-4-col-desktop'
			when 5
				assign layout_classes = layout_classes | append: ' grid-3-col-tablet grid-5-col-desktop grid-compact'
		endcase
	%}

	<style>
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
			padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
		}

		@media (min-width: 990px) {
			#shopify-section-{{ section.id }} .block-section {
				margin-top: {{ section.settings.spacing_top }}px;
				margin-bottom: {{ section.settings.spacing_bottom }}px;
			}

			#shopify-section-{{ section.id }} .block-section-padded {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: {{ section.settings.spacing_top }}px;
				padding-bottom: {{ section.settings.spacing_bottom }}px;
			}
		}
	</style>

	<div class="color-{{ section.settings.color_scheme }}">
		<div class="container">
			<div class="{{ block_section_class }}">

				<product-recommendations class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.count }}">
					{% if recommendations.performed and recommendations.products_count > 0 %}
						<div class="block-block-section-title-wrapper">
							<h2 class="block-section-title">{{ section.settings.title | escape }}</h2>
						</div>

						<div class="scroller scroller-tablet">
							<div class="scroller-inner">
								<ul class="{{ layout_classes }}">
									{%- for recommendation in recommendations.products -%}
										<li class="grid-item">
											{% render 'card-product',
												card_product: recommendation,
												show_vendor: section.settings.show_vendor,
												show_stock: section.settings.show_stock,
												show_rating: section.settings.show_rating,
												show_add_to_cart: settings.products_show_add_to_cart,
												show_add_to_cart_mobile: settings.products_show_add_to_cart_mobile,
												class: 'color-background-2',
												event_context: 'ProductRecommendations',
												lazyload: true
											%}
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				</product-recommendations>

			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.product_recommendations.name",
  "class": "product-info-recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "label": "t:sections.product_recommendations.settings.show.label",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product_recommendations.settings.title.label",
      "default": "Related products"
    },
    {
      "type": "select",
      "id": "count",
      "label": "t:sections.product_recommendations.settings.count.label",
      "default": "4",
      "options": [
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.product_recommendations.settings.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.product_recommendations.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_stock",
      "default": true,
      "label": "t:sections.product_recommendations.settings.show_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.product_recommendations.settings.show_rating.label",
      "info": "t:sections.product_recommendations.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ]
}
{% endschema %}
