{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% liquid
	assign block_section_class = 'block-section'
	unless section.settings.color_scheme == 'background-1' and section.settings.image == blank
		assign block_section_class = block_section_class | append: ' block-section-padded'
	endunless

	assign fetch_priority = 'auto'
	if section.index == 1
		assign fetch_priority = 'high'
	endif
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	#shopify-section-{{ section.id }} .block-section-padded {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top }}px;
			padding-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}

	{% if section.settings.overlay_background != blank %}
		#section-{{ section.id }}::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: {{ section.settings.overlay_background }};
		}
	{% endif %}
</style>

<div id="section-{{ section.id }}" class="section color-{{ section.settings.color_scheme }} {% if section.settings.image != blank %}has-background-image{% endif %}">
	<div class="container {% if section.settings.narrow %} container-narrow{% endif %}">
		<div class="{{ block_section_class }}">
			<div class="section-rich-text rich-text rich-text-align-{{ section.settings.alignment }} {% if section.settings.limit_height %}rich-text-limit-height{% endif %}">
				<div class="rich-text-content">
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'heading' -%}
								<h2 class="heading-size-{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
							{%- when 'text' -%}
								<div class="rich-text-text rte text-size-{{ block.settings.text_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'button' -%}
								<a
									{% if block.settings.button_link == blank %}
										role="link" aria-disabled="true"
									{% else %}
										href="{{ block.settings.button_link }}"
									{% endif %}
									class="button"
									{{ block.shopify_attributes }}
								>
									{{ block.settings.button_label | escape }}
								</a>
						{%- when 'page' -%}
							{% if block.settings.page == blank and request.design_mode %}
								<div class="rte page-content" {{ block.shopify_attributes }}>{{ 'sections.rich_text.page_placeholder' | t }}</div>
							{% endif %}
							{% if block.settings.page != blank %}
								<div class="rte page-content" {{ block.shopify_attributes }}>{{ block.settings.page.content }}</div>
							{% endif %}
						{%- endcase -%}
					{%- endfor -%}
				</div>

				{% if section.settings.limit_height %}
					<rich-text-more>
						<button class="button-text-link link-text-secondary button-rich-text-more">
							<span class="label-more">{{ 'general.button_show_more' | t }} {% render 'angle', direction: 'down' %}</span>
							<span class="label-less">{{ 'general.button_show_less' | t }} {% render 'angle', direction: 'up' %}</span>
						</button>
					</rich-text-more>
				{% endif %}
			</div>
		</div>
	</div>
	{% if section.settings.image != blank %}
		<div class="section-background-image-wrap">
			{{ section.settings.image | image_url: width: 3840 | image_tag:
				class: 'section-background-image',
				widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
				sizes: '100vw',
				fetchpriority: fetch_priority
			}}
		</div>
	{% endif %}
</div>

{% if section.settings.limit_height %}
	<script src="{{ 'rich-text.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "narrow",
      "default": true,
      "label": "t:sections.rich_text.settings.narrow.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.rich_text.settings.image.label"
    },
    {
      "type": "color_background",
      "id": "overlay_background",
      "label": "t:sections.all.gradient.overlay_background.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.rich_text.settings.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich_text.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.rich_text.settings.alignment.options.label_2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "limit_height",
      "default": false,
      "label": "t:sections.rich_text.settings.limit_height.label",
      "info": "t:sections.rich_text.settings.limit_height.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich_text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich_text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "md",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.all.heading_size.options.label_sm"
            },
            {
              "value": "md",
              "label": "t:sections.all.heading_size.options.label_md"
            },
            {
              "value": "lg",
              "label": "t:sections.all.heading_size.options.label_lg"
            },
            {
              "value": "xl",
              "label": "t:sections.all.heading_size.options.label_xl"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich_text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich_text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.label",
          "default": "md",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.all.text_size.options.label_sm"
            },
            {
              "value": "md",
              "label": "t:sections.all.text_size.options.label_md"
            },
            {
              "value": "lg",
              "label": "t:sections.all.text_size.options.label_lg"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich_text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich_text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich_text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.rich_text.blocks.page.name",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.rich_text.blocks.page.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
