{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'component-pills.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'text-slider.js' | asset_url }}" defer="defer"></script>

<style>
	@media (min-width: 990px) {
		.rotating-text-bar {
			padding-top: {{ section.settings.spacing_top }}rem;
			padding-bottom: {{ section.settings.spacing_bottom }}rem;
		}
	}
</style>

<div class="rotating-text-bar-wrapper color-{{ section.settings.color_scheme }} {% if section.settings.remove_border %}border-bottom-none{% endif %}">
	<div class="container">
		<div class="rotating-text-bar">
			<div class="rotating-text-bar-content">
				<text-slider
					id="Carousel-{{ section.id }}"
					data-autoplay="{{ section.settings.auto_rotate }}"
					data-cell-selector=".rotating-text-item"
					data-slideshow-selector=".rotating-text-carousel"
					data-set-display="true"
					data-speed="{{ section.settings.change_slides_speed }}"
				>
					<div class="rotating-text-carousel">
						{% for block in section.blocks %}
							<div class="rotating-text-item" {{ block.shopify_attributes }}>
							{% if block.settings.link != blank %}
								<a href="{{ block.settings.link }}">
									{% endif %}
									{{ block.settings.text }}
									{% if block.settings.link != blank %}
								</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</text-slider>

				{% if section.settings.show_navigation %}
					<text-slider-navigation for="Carousel-{{ section.id }}" class="rotating-text-carousel-navigation no-js-hidden">
						<button class="pill-nav-item pill-nav-item-prev focus-none js-prev">
							<span class="visually-hidden">{{ 'sections.slideshow.previous_slide' | t }}</span>
							{% render 'angle', direction: 'left' %}
						</button>
						<button class="pill-nav-item pill-nav-item-next js-next">
							<span class="visually-hidden">{{ 'sections.slideshow.next_slide' | t }}</span>
							{% render 'angle', direction: 'right' %}
						</button>
					</text-slider-navigation>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.rotating_text_bar.name",
  "enabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.rotating_text_bar.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "t:sections.rotating_text_bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.rotating_text_bar.settings.show_navigation.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "remove_border",
      "default": false,
      "label": "t:sections.announcement_bar.settings.remove_border.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading",
      "info": "t:sections.rotating_text_bar.settings.section_spacing.info"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.5,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1.5,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.rotating_text_bar.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.rotating_text_bar.blocks.text.settings.text.label",
          "default": "Craft engaging content for your customers"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.rotating_text_bar.blocks.text.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rotating_text_bar.preset.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
