{{ 'section-scrolling-elements.css' | asset_url | stylesheet_tag }}

<script src="{{ 'scrolling-elements.js' | asset_url }}" defer="defer"></script>

{% liquid
	assign block_section_class = 'block-section'
	unless section.settings.color_scheme == 'background-1'
		assign block_section_class = block_section_class | append: ' block-section-padded'
	endunless
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	#shopify-section-{{ section.id }} .block-section-padded {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top }}px;
			padding-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}

	#shopify-section-{{ section.id }} .scrolling-elements-container {
		--scrolling-elements-speed: {{ section.settings.speed }}s;
		--scrolling-speed-font-size: {{ section.settings.text_size }}px;
	{% unless section.settings.foreground_color == blank %}
		--scrolling-elements-foreground-color: {{ section.settings.foreground_color }};
	{% endunless %}
	}
</style>

<div class="section-scrolling-elements-wrapper {% if section.settings.full_width %}section-scrolling-elements-wrapper-fullwidth color-{{ section.settings.color_scheme }}{% endif %}">
	<div class="{% unless section.settings.full_width %}container{% endunless %}">
		<div class="{{ block_section_class }} {% if section.settings.full_width == false %}color-{{ section.settings.color_scheme }}{% endif %}">
			<scrolling-elements class="scrolling-elements-container {% if section.settings.pause_on_hover %}pause-on-hover{% endif %}">
				<div class="scrolling-elements-wrap">
					{% for i in (1..3) %}
						<div class="scrolling-elements-group">
							{% for block in section.blocks %}
								<div class="scrolling-elements-content typography-{{ section.settings.font_family }}" {{ block.shopify_attributes }}>
									{% if block.settings.icon != blank %}
										<div class="scrolling-elements-icon">
											{% render 'icons', icon: block.settings.icon %}
										</div>
									{% endif %}
									<div class="scrolling-elements-text">
									{% if block.settings.link != blank %}
										<a href="{{ block.settings.link }}">
											{% endif %}
											{{ block.settings.text }}
											{% if block.settings.link != blank %}
										</a>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</scrolling-elements>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.scrolling_elements.name",
  "disabled_on": {
    "groups": [
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.scrolling_elements.settings.full_width.label",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:sections.scrolling_elements.settings.speed.label",
      "unit": "s",
      "min": 10,
      "max": 150,
      "step": 2,
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.scrolling_elements.settings.pause_on_hover.label",
      "default": false
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 10,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.scrolling_elements.settings.text_size.label",
      "default": 20
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "t:sections.scrolling_elements.settings.font_family.label",
      "default": "body",
      "options": [
        {
          "value": "body",
          "label": "t:sections.scrolling_elements.settings.font_family.options.label_1"
        },
        {
          "value": "headings",
          "label": "t:sections.scrolling_elements.settings.font_family.options.label_2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": "t:sections.scrolling_elements.settings.foreground_color.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 30,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 30,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "element",
      "name": "t:sections.scrolling_elements.blocks.element.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.all.icon.name",
          "default": "globe",
          "options": [
            {
              "label": "",
              "value": ""
            },
            {
              "label": "t:sections.all.icon.options.label_activity",
              "value": "activity"
            },
            {
              "label": "t:sections.all.icon.options.label_add_comment",
              "value": "add-comment"
            },
            {
              "label": "t:sections.all.icon.options.label_aperture",
              "value": "aperture"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_down",
              "value": "arrow-down"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_left",
              "value": "arrow-left"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_right",
              "value": "arrow-right"
            },
            {
              "label": "t:sections.all.icon.options.label_arrow_up",
              "value": "arrow-up"
            },
            {
              "label": "t:sections.all.icon.options.label_assembly",
              "value": "assembly"
            },
            {
              "label": "t:sections.all.icon.options.label_at",
              "value": "at"
            },
            {
              "label": "t:sections.all.icon.options.label_attachment",
              "value": "attachment"
            },
            {
              "label": "t:sections.all.icon.options.label_award",
              "value": "award"
            },
            {
              "label": "t:sections.all.icon.options.label_bag",
              "value": "bag"
            },
            {
              "label": "t:sections.all.icon.options.label_basket",
              "value": "basket"
            },
            {
              "label": "t:sections.all.icon.options.label_bookmark",
              "value": "bookmark"
            },
            {
              "label": "t:sections.all.icon.options.label_box",
              "value": "box"
            },
            {
              "label": "t:sections.all.icon.options.label_box_2",
              "value": "box-2"
            },
            {
              "label": "t:sections.all.icon.options.label_cart",
              "value": "cart"
            },
            {
              "label": "t:sections.all.icon.options.label_certificate",
              "value": "certificate"
            },
            {
              "label": "t:sections.all.icon.options.label_chat",
              "value": "chat"
            },
            {
              "label": "t:sections.all.icon.options.label_check",
              "value": "check"
            },
            {
              "label": "t:sections.all.icon.options.label_clipboard",
              "value": "clipboard"
            },
            {
              "label": "t:sections.all.icon.options.label_clock",
              "value": "clock"
            },
            {
              "label": "t:sections.all.icon.options.label_cog",
              "value": "cog"
            },
            {
              "label": "t:sections.all.icon.options.label_credit_cart",
              "value": "credit-card"
            },
            {
              "label": "t:sections.all.icon.options.label_cross",
              "value": "cross"
            },
            {
              "label": "t:sections.all.icon.options.label_desktop",
              "value": "desktop"
            },
            {
              "label": "t:sections.all.icon.options.label_document",
              "value": "document"
            },
            {
              "label": "t:sections.all.icon.options.label_dollar",
              "value": "dollar"
            },
            {
              "label": "t:sections.all.icon.options.label_download",
              "value": "download"
            },
            {
              "label": "t:sections.all.icon.options.label_disabled",
              "value": "disabled"
            },
            {
              "label": "t:sections.all.icon.options.label_email",
              "value": "email"
            },
            {
              "label": "t:sections.all.icon.options.label_euro",
              "value": "euro"
            },
            {
              "label": "t:sections.all.icon.options.label_flag",
              "value": "flag"
            },
            {
              "label": "t:sections.all.icon.options.label_gift_wrap",
              "value": "gift-wrap"
            },
            {
              "label": "t:sections.all.icon.options.label_globe",
              "value": "globe"
            },
            {
              "label": "t:sections.all.icon.options.label_heart",
              "value": "heart"
            },
            {
              "label": "t:sections.all.icon.options.label_heart_full",
              "value": "heart-full"
            },
            {
              "label": "t:sections.all.icon.options.label_home",
              "value": "home"
            },
            {
              "label": "t:sections.all.icon.options.label_info",
              "value": "info"
            },
            {
              "label": "t:sections.all.icon.options.label_label",
              "value": "label"
            },
            {
              "label": "t:sections.all.icon.options.label_laptop",
              "value": "laptop"
            },
            {
              "label": "t:sections.all.icon.options.label_map",
              "value": "map"
            },
            {
              "label": "t:sections.all.icon.options.label_menu",
              "value": "menu"
            },
            {
              "label": "t:sections.all.icon.options.label_minus",
              "value": "minus"
            },
            {
              "label": "t:sections.all.icon.options.label_mobile",
              "value": "mobile"
            },
            {
              "label": "t:sections.all.icon.options.label_paper_airplane",
              "value": "paper-airplane"
            },
            {
              "label": "t:sections.all.icon.options.label_paperclip",
              "value": "paperclip"
            },
            {
              "label": "t:sections.all.icon.options.label_percent",
              "value": "percent"
            },
            {
              "label": "t:sections.all.icon.options.label_phone",
              "value": "phone"
            },
            {
              "label": "t:sections.all.icon.options.label_pin",
              "value": "pin"
            },
            {
              "label": "t:sections.all.icon.options.label_plus",
              "value": "plus"
            },
            {
              "label": "t:sections.all.icon.options.label_pound",
              "value": "pound"
            },
            {
              "label": "t:sections.all.icon.options.label_refund_receipt",
              "value": "refund-receipt"
            },
            {
              "label": "t:sections.all.icon.options.label_returns",
              "value": "returns"
            },
            {
              "label": "t:sections.all.icon.options.label_search",
              "value": "search"
            },
            {
              "label": "t:sections.all.icon.options.label_settings",
              "value": "settings"
            },
            {
              "label": "t:sections.all.icon.options.label_share",
              "value": "share"
            },
            {
              "label": "t:sections.all.icon.options.label_shield",
              "value": "shield"
            },
            {
              "label": "t:sections.all.icon.options.label_shield_plus",
              "value": "shield-plus"
            },
            {
              "label": "t:sections.all.icon.options.label_shirt",
              "value": "shirt"
            },
            {
              "label": "t:sections.all.icon.options.label_star_empty",
              "value": "star-empty"
            },
            {
              "label": "t:sections.all.icon.options.label_star_full",
              "value": "star-full"
            },
            {
              "label": "t:sections.all.icon.options.label_store",
              "value": "store"
            },
            {
              "label": "t:sections.all.icon.options.label_support",
              "value": "support"
            },
            {
              "label": "t:sections.all.icon.options.label_truck",
              "value": "truck"
            },
            {
              "label": "t:sections.all.icon.options.label_user",
              "value": "user"
            },
            {
              "label": "t:sections.all.icon.options.label_user_alt",
              "value": "user-alt"
            },
            {
              "label": "t:sections.all.icon.options.label_wallet",
              "value": "wallet"
            },
            {
              "label": "t:sections.all.icon.options.label_warning",
              "value": "warning"
            },
            {
              "label": "t:sections.all.icon.options.label_yen",
              "value": "yen"
            },
            {
              "label": "t:sections.all.icon.options.label_facebook",
              "value": "facebook"
            },
            {
              "label": "t:sections.all.icon.options.label_instagram",
              "value": "instagram"
            },
            {
              "label": "t:sections.all.icon.options.label_linkedin",
              "value": "linkedin"
            },
            {
              "label": "t:sections.all.icon.options.label_pinterest",
              "value": "pinterest"
            },
            {
              "label": "t:sections.all.icon.options.label_snapchat",
              "value": "snapchat"
            },
            {
              "label": "t:sections.all.icon.options.label_tiktok",
              "value": "tiktok"
            },
            {
              "label": "t:sections.all.icon.options.label_tumblr",
              "value": "tumblr"
            },
            {
              "label": "t:sections.all.icon.options.label_twitter",
              "value": "twitter"
            },
            {
              "label": "t:sections.all.icon.options.label_x",
              "value": "x"
            },
            {
              "label": "t:sections.all.icon.options.label_vimeo",
              "value": "vimeo"
            },
            {
              "label": "t:sections.all.icon.options.label_youtube",
              "value": "youtube"
            },
            {
              "label": "t:sections.all.icon.options.label_whatsapp",
              "value": "whatsapp"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.scrolling_elements.blocks.element.settings.text.label",
          "default": "Provide campaign content here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.scrolling_elements.blocks.element.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling_elements.preset.name",
      "blocks": [
        {
          "type": "element"
        },
        {
          "type": "element"
        },
        {
          "type": "element"
        },
        {
          "type": "element"
        }
      ]
    }
  ]
}
{% endschema %}
