{{ 'component-tabs.css' | asset_url | stylesheet_tag }}

{% liquid
	assign block_section_class = 'block-section'
	unless section.settings.color_scheme == 'background-1'
		assign block_section_class = block_section_class | append: ' block-section-padded'
	endunless
%}

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	#shopify-section-{{ section.id }} .block-section-padded {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		padding-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}

		#shopify-section-{{ section.id }} .block-section-padded {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: {{ section.settings.spacing_top }}px;
			padding-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}
</style>

<div class="color-{{ section.settings.color_scheme }}">
	<div class="container">
		<div class="{{ block_section_class }}">
			<div class="block-pill-nav-slider">
				{% if section.settings.heading != blank or section.settings.subheading != blank or section.blocks.size > 0 %}
					<div class="block-block-section-title-wrapper block-block-section-title-tabs">
						{% if section.settings.heading != blank or section.settings.subheading != blank %}
							<div class="block-section-title-wrap">
								{% if section.settings.heading != blank %}
									<h2 class="block-section-title">{{ section.settings.heading }}</h2>
								{% endif %}
								{% if section.settings.subheading != blank %}
									<p class="block-section-subtitle">{{ section.settings.subheading }}</p>
								{% endif %}
							</div>
						{% endif %}

						{% if section.blocks.size > 0 %}
							<div class="block-section-title-aux">
								<tabs-navigation for="TabComponent-{{ section.id }}">
									<div class="tab-nav">
										{% for block in section.blocks %}
											<a href="#"
											   class="tab-nav-item {% if forloop.index0 == 0 %}is-active{% endif %}"
											   data-handle="tab-{{ section.id }}-{{ forloop.index0 }}"
												{{ block.shopify_attributes }}
											>
												{{ block.settings.heading }}
											</a>
										{% endfor %}
									</div>
								</tabs-navigation>
							</div>
						{% endif %}
					</div>
				{% endif %}

				<tabs-component id="TabComponent-{{ section.id }}" class="tabs-component">
					{% for block in section.blocks %}
						<div class="tabs-component-content" data-handle="tab-{{ section.id }}-{{ forloop.index0 }}"
							aria-hidden="{% if forloop.index0 != 0 %}true{% else %}false{% endif %}"
						>
							{% if block.settings.page != blank %}
								<div class="rte page-content">
									{{ block.settings.page.content }}
								</div>
							{% else %}
								<div class="rte">
									{{ block.settings.content }}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</tabs-component>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.tabbed_content.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.tabbed_content.settings.heading.label",
      "default": "Tabbed content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.tabbed_content.settings.subheading.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "tab",
      "name": "t:sections.tabbed_content.blocks.tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.tabbed_content.blocks.tab.settings.heading.label",
          "default": "Tab label"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Craft an engaging narrative for your customers. Share captivating stories about your products, make exciting announcements, or promote special offers.</p>",
          "label": "t:sections.tabbed_content.blocks.tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.tabbed_content.blocks.tab.settings.page.label",
          "info": "t:sections.tabbed_content.blocks.tab.settings.page.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tabbed_content.preset.name",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
