{{ 'section-video-background.css' | asset_url | stylesheet_tag }}
<script src="{{ 'video-background.js' | asset_url }}" defer="defer"></script>

<style>
	#shopify-section-{{ section.id }} .block-section {
		margin-top: {{ section.settings.spacing_top | times: 0.8 | round: 0 }}px;
		margin-bottom: {{ section.settings.spacing_bottom | times: 0.8 | round: 0 }}px;
	}

	@media (min-width: 990px) {
		#shopify-section-{{ section.id }} .block-section {
			margin-top: {{ section.settings.spacing_top }}px;
			margin-bottom: {{ section.settings.spacing_bottom }}px;
		}
	}

	{% if section.settings.overlay_background != blank %}
	#shopify-section-{{ section.id }} .video-background-section-wrap-inner::after {
		background: {{ section.settings.overlay_background }};
	}
	{% endif %}

	{% if section.settings.mobile_image != blank %}
		@media (max-width: 749px) {
			#shopify-section-{{ section.id }} .video-background-section-backdrop {
				object-position: {{ section.settings.mobile_image.presentation.focal_point }} !important;
			}
		}
	{% endif %}
</style>

{% liquid
	assign container_classes = ''
	if section.settings.full_width
		assign container_classes = 'container ' | append: container_classes
	endif

	assign has_video = false
	if section.settings.custom_video != blank or section.settings.video_url != blank
		assign has_video = true
	endif

	assign video_type = section.settings.video_url.type
	if section.settings.custom_video != blank
		assign video_type = 'self-hosted'
	endif

	assign ratio = 1.777
	if section.settings.custom_video != blank
		assign ratio = section.settings.custom_video.aspect_ratio
	endif

	assign fetch_priority = 'auto'
	if section.index == 1
		assign fetch_priority = 'high'
	endif
%}

<div class="{% if section.settings.full_width %} block-section-fullwidth{% else %} container{% endif %}">
	<div class="block-section">
		<div class="video-background-section-wrap video-background-section-wrap-{{ section.settings.height }} color-{{ section.settings.color_scheme }}" style="--aspect-ratio: {{ ratio }};">
			<div class="{{ container_classes }} content-align-{{ section.settings.mobile_box_align }} content-align-desktop-{{ section.settings.box_align }}">
				<div class="video-background-section-wrap-inner">
					<div class="video-background-section-content">
						{% if section.settings.heading != blank %}
							<h2 class="video-background-section-title video-background-section-title-{{ section.settings.mobile_heading_size }} video-background-section-title-desktop-{{ section.settings.heading_size }}">
								{{ section.settings.heading | escape }}
							</h2>
						{% endif %}

						{% if section.settings.text != blank %}
							<div class="video-background-section-caption text-size-{{ section.settings.text_size }}">
								{{ section.settings.text }}
							</div>
						{% endif %}

						{%- if section.settings.button_label != blank or section.settings.secondary_button_label != blank -%}
							<div class="video-background-section-buttons {% if section.settings.button_type_link or section.settings.secondary_button_type_link %}text-link-gap{% endif %}">
								{% if section.settings.button_label != blank %}
									<a
										{% if section.settings.button_link %}
											href="{{ section.settings.button_link }}"
										{% else %}
											role="link" aria-disabled="true"
										{% endif %}
										class="{% if section.settings.button_type_link %}button-text-link{% else %}button button-large-desktop color-button-{{ section.settings.button_color_scheme }}{% endif %}">
										{{ section.settings.button_label | escape }}
									</a>
								{% endif %}

								{% if section.settings.secondary_button_label != blank %}
									<a
										{% if section.settings.secondary_button_link %}
											href="{{ section.settings.secondary_button_link }}"
										{% else %}
											role="link" aria-disabled="true"
										{% endif %}
										class="{% if section.settings.secondary_button_type_link %}button-text-link{% else %}button button-large-desktop color-button-{{ section.settings.secondary_button_color_scheme }}{% endif %}">
										{{ section.settings.secondary_button_label | escape }}
									</a>
								{% endif %}
							</div>
						{%- endif -%}
					</div>

					{% liquid
						assign image = section.settings.custom_video.preview_image
						if section.settings.background_image != blank
							assign image = section.settings.background_image
						endif
					%}

					{%- if image -%}
						{% capture image_sizes %}
							{% if section.settings.full_width == true %}
								100vw
							{% else %}
								(min-width: 1540px) 1540px, calc(100vw - 3rem)
							{% endif %}
						{% endcapture %}

						<picture>
							{% if section.settings.mobile_image %}
								<source
									srcset="
										{% if section.settings.mobile_image.width >= 375 %}{{ section.settings.mobile_image | image_url: width: 375 }} 375w,{% endif %}
										{% if section.settings.mobile_image.width >= 550 %}{{ section.settings.mobile_image | image_url: width: 550 }} 550w,{% endif %}
										{% if section.settings.mobile_image.width >= 750 %}{{ section.settings.mobile_image | image_url: width: 750 }} 750w,{% endif %}
										{% if section.settings.mobile_image.width >= 1100 %}{{ section.settings.mobile_image | image_url: width: 1100 }} 1100w,{% endif %}
										{% if section.settings.mobile_image.width >= 1540 %}{{ section.settings.mobile_image | image_url: width: 1540 }} 1540w,{% endif %}
										{% if section.settings.mobile_image.width >= 1780 %}{{ section.settings.mobile_image | image_url: width: 1780 }} 1780w,{% endif %}
										{% if section.settings.mobile_image.width >= 2000 %}{{ section.settings.mobile_image | image_url: width: 2000 }} 2000w,{% endif %}
										{% if section.settings.mobile_image.width >= 3080 %}{{ section.settings.mobile_image | image_url: width: 3080 }} 3080w,{% endif %}
										{% if section.settings.mobile_image.width >= 3840 %}{{ section.settings.mobile_image | image_url: width: 3840 }} 3840w,{% endif %}
										{{ section.settings.mobile_image | image_url }} {{ section.settings.mobile_image.width }}w
									"
									sizes="{{ image_sizes }}"
									media="(max-width: 749px)">
							{% endif %}

							<source
								srcset="
									{% if image.width >= 375 %}{{ image | image_url: width: 375 }} 375w,{% endif %}
									{% if image.width >= 550 %}{{ image | image_url: width: 550 }} 550w,{% endif %}
									{% if image.width >= 750 %}{{ image | image_url: width: 750 }} 750w,{% endif %}
									{% if image.width >= 1100 %}{{ image | image_url: width: 1100 }} 1100w,{% endif %}
									{% if image.width >= 1540 %}{{ image | image_url: width: 1540 }} 1540w,{% endif %}
									{% if image.width >= 1780 %}{{ image | image_url: width: 1780 }} 1780w,{% endif %}
									{% if image.width >= 2000 %}{{ image | image_url: width: 2000 }} 2000w,{% endif %}
									{% if image.width >= 3080 %}{{ image | image_url: width: 3080 }} 3080w,{% endif %}
									{% if image.width >= 3840 %}{{ image | image_url: width: 3840 }} 3840w,{% endif %}
									{{ image | image_url }} {{ image.width }}w
								"
								sizes="{{ image_sizes }}"
                {% if section.settings.mobile_image != blank %}
								media="(min-width: 750px)"
                {% endif %}
							>

							{{ image | image_url: width: 3840 | image_tag:
								class: 'video-background-section-backdrop',
								fetchpriority: fetch_priority
							}}
						</picture>
					{%- endif -%}

					{% if has_video %}
						<video-background
							data-section-id="{{ section.id }}"
							data-type="{{ video_type }}"
							data-video-id="{{ section.settings.video_url.id }}"
						>
							<div class="video-background-loader"></div>
							<div class="video-background-player" class="no-js-visible">
								{%- if section.settings.custom_video != blank -%}
									<video autoplay muted playsinline preload="auto" loop>
										{% for source in section.settings.custom_video.sources %}
											<source src="{{ source.url }}" type="{{ source.mime_type }}"/>
										{% endfor %}
									</video>
								{%- else -%}
									<div id="{{ section.id }}-video-player"></div>
									<noscript>
										{%- if section.settings.video_url.type == 'youtube' -%}
											<iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1&mute=1&controls=0&loop=1&playsinline=1&fs=0&cc_load_policy=0&iv_load_policy=3&playlist={{ section.settings.video_url.id }}" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.video_description | escape }}"></iframe>
										{%- elsif section.settings.video_url.type == 'vimeo' -%}
											<iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&muted=1&controls=0&loop=1&autopause=0&background=1" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.video_description | escape }}"></iframe>
										{%- endif -%}
									</noscript>
								{%- endif -%}

								{% if section.settings.video_description != blank %}
									<span class="visually-hidden">{{ section.settings.video_description }}</span>
								{% endif %}
							</div>
						</video-background>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.video_background.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlays"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video_background.settings.full_width.label",
      "default": false
    },
    {
      "type": "select",
      "id": "box_align",
      "label": "t:sections.all.box_align.label",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.box_align.options.label_tl"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.box_align.options.label_tc"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.box_align.options.label_tr"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.box_align.options.label_ml"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.box_align.options.label_mc"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.box_align.options.label_mr"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.box_align.options.label_bl"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.box_align.options.label_bc"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.box_align.options.label_br"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.video_background.settings.height.label",
      "default": "large",
      "options": [
        {
          "value": "small",
          "label": "t:sections.video_background.settings.height.options.label_2"
        },
        {
          "value": "medium",
          "label": "t:sections.video_background.settings.height.options.label_3"
        },
        {
          "value": "large",
          "label": "t:sections.video_background.settings.height.options.label_4"
        },
        {
          "value": "full",
          "label": "t:sections.video_background.settings.height.options.label_5"
        },
        {
          "value": "three-quarters",
          "label": "t:sections.video_background.settings.height.options.label_6"
        },
        {
          "value": "two-thirds",
          "label": "t:sections.video_background.settings.height.options.label_7"
        },
        {
          "value": "preserve-ratio",
          "label": "t:sections.video_background.settings.height.options.label_8"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.video_background.settings.background_image.label"
    },
    {
      "type": "color_background",
      "id": "overlay_background",
      "label": "t:sections.all.gradient.overlay_background.label",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "A few words about this video",
      "label": "t:sections.video_background.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "sm",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.all.heading_size.options.label_sm"
        },
        {
          "value": "md",
          "label": "t:sections.all.heading_size.options.label_md"
        },
        {
          "value": "lg",
          "label": "t:sections.all.heading_size.options.label_lg"
        },
        {
          "value": "xl",
          "label": "t:sections.all.heading_size.options.label_xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.all.heading_size.options.label_xxl"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.video_background.settings.text.label",
      "default": "<p>Introduce your brand, share details about a product, or describe the experience your customers can expect</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.all.text_size.label",
      "default": "md",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.all.text_size.options.label_sm"
        },
        {
          "value": "md",
          "label": "t:sections.all.text_size.options.label_md"
        },
        {
          "value": "lg",
          "label": "t:sections.all.text_size.options.label_lg"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.video_background.settings.header_1.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.video_background.settings.button_label.label",
      "info": "t:sections.video_background.settings.button_label.info"
    },
    {
      "type": "checkbox",
      "id": "button_type_link",
      "label": "t:sections.video_background.settings.button_type_link.label",
      "default": false
    },
    {
      "type": "select",
      "id": "button_color_scheme",
      "label": "t:sections.video_background.settings.button_color_scheme.label",
      "info": "t:sections.video_background.settings.button_color_scheme.info",
      "default": "button-primary",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "button-primary",
          "label": "t:sections.all.colors.button_primary.label"
        },
        {
          "value": "button-secondary",
          "label": "t:sections.all.colors.button_secondary.label"
        }
      ]
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.video_background.settings.button_link.label"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "t:sections.video_background.settings.secondary_button_label.label",
      "info": "t:sections.video_background.settings.secondary_button_label.info"
    },
    {
      "type": "checkbox",
      "id": "secondary_button_type_link",
      "label": "t:sections.video_background.settings.secondary_button_type_link.label",
      "default": false
    },
    {
      "type": "select",
      "id": "secondary_button_color_scheme",
      "label": "t:sections.video_background.settings.secondary_button_color_scheme.label",
      "info": "t:sections.video_background.settings.secondary_button_color_scheme.info",
      "default": "button-secondary",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "button-primary",
          "label": "t:sections.all.colors.button_primary.label"
        },
        {
          "value": "button-secondary",
          "label": "t:sections.all.colors.button_secondary.label"
        }
      ]
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "t:sections.video_background.settings.secondary_button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.video_background.settings.header_2.content"
    },
    {
      "type": "video",
      "id": "custom_video",
      "label": "t:sections.video_background.settings.custom_video.label",
      "info": "t:sections.video_background.settings.custom_video.info"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video_background.settings.video_url.label",
      "placeholder": "t:sections.video_background.settings.video_url.placeholder",
      "info": "t:sections.video_background.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "t:sections.video_background.settings.video_description.label",
      "info": "t:sections.video_background.settings.video_description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video_background.settings.header_3.content"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.video_background.settings.background_image.label"
    },
    {
      "type": "select",
      "id": "mobile_heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "lg",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.all.heading_size.options.label_sm"
        },
        {
          "value": "md",
          "label": "t:sections.all.heading_size.options.label_md"
        },
        {
          "value": "lg",
          "label": "t:sections.all.heading_size.options.label_lg"
        },
        {
          "value": "xl",
          "label": "t:sections.all.heading_size.options.label_xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.all.heading_size.options.label_xxl"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_box_align",
      "label": "t:sections.all.box_align.label",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.box_align.options.label_tl"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.box_align.options.label_tc"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.box_align.options.label_tr"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.box_align.options.label_ml"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.box_align.options.label_mc"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.box_align.options.label_mr"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.box_align.options.label_bl"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.box_align.options.label_bc"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.box_align.options.label_br"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "accent-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.heading"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "default": 90,
      "label": "t:sections.all.section_spacing.spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video_background.presets.name"
    }
  ]
}
{% endschema %}
