{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
	<meta charset="utf-8">

	{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

	<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
	<meta name="description" content="Your gift card">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="{{ canonical_url }}">

	<link rel="preconnect" href="//cdn.shopify.com" crossorigin>

	{% unless settings.typography_headings.system? and settings.typography_body.system? %}
		<link rel="preconnect" href="//fonts.shopifycdn.com" crossorigin>
	{% endunless %}

	{% comment %}theme-check-disable AssetPreload{% endcomment %}
	{% unless settings.typography_body.system? %}
		<link rel="preload" as="font" href="{{ settings.typography_body | font_url }}" type="font/woff2" crossorigin>
	{% endunless %}
	{% unless settings.typography_headings.system? %}
		<link rel="preload" as="font" href="{{ settings.typography_headings | font_url }}" type="font/woff2" crossorigin>
	{% endunless %}
	{% comment %}theme-check-enable AssetPreload{% endcomment %}

	{% render 'head-css' %}

	{{ 'base.css' | asset_url | stylesheet_tag }}
	{{ 'template-giftcard.css' | asset_url | stylesheet_tag }}

	{% if settings.favicon != blank %}
		<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
	{% endif %}

	{{ content_for_header }}

	<style>
		@media print {
			.no-print {
				display: none;
			}
		}
	</style>

	<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
</head>

<body class="template-{{ template.name }}">
	<header class="gift-card-site-title">
		<h1>{{ shop.name }}</h1>
	</header>

	<main class="gift-card">
		<div class="gift-card-header">
			<h2 class="gift-card-header-title">{{ 'gift_cards.issued.subtext' | t }}</h2>

			{%- if gift_card.enabled == false or gift_card.expired -%}
				<p class="gift-card-expired">{{ 'gift_cards.issued.expired' | t }}</p>
			{%- endif -%}
		</div>

		<div class="gift-card-content">
			<div class="gift-card-details-wrap">
				<div class="gift-card-price">
					<p class="gift-card-price-value">
						{% if settings.currency_code_enabled %}
							{{ gift_card.initial_value | money_with_currency }}
						{% else %}
							{{ gift_card.initial_value | money }}
						{% endif %}
					</p>

					{% if settings.currency_code_enabled %}
						{%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
					{% else %}
						{%- assign gift_card_balance = gift_card.balance | money -%}
					{% endif %}
					{%- if gift_card.balance != gift_card.initial_value -%}
						<p class="gift-card-balance">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
					{%- endif -%}
				</div>

				<div class="gift-card-code-wrap">
					<input
						type="text"
						class="gift-card-number"
						value="{{ gift_card.code | format_code }}"
						aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
						readonly
					/>
					<div class="gift-card-copy-code no-print">
						<button class="gift-card-copy-link">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 3.5V5H15C15.5523 5 16 5.44772 16 6V17.5H20.5V3.5H9.5ZM16 19H21C21.5523 19 22 18.5523 22 18V3C22 2.44772 21.5523 2 21 2H9C8.44772 2 8 2.44772 8 3V5H3C2.44772 5 2 5.44772 2 6V21C2 21.5523 2.44772 22 3 22H15C15.5523 22 16 21.5523 16 21V19ZM14.5 17.5H14.4961V19H14.5V20.5H3.5V6.5H8H9.5H14.5V17.5Z" fill="#001A72"/>
							</svg>

							<span class="visually-hidden">{{ 'gift_cards.issued.copy_code' | t }}</span>
						</button>
						<span class="gift-card-copy-success" role="status"></span>
						<template>
							{%- render 'icon-check' -%} {{ 'gift_cards.issued.copy_code_success' | t }}
						</template>
					</div>
				</div>

				<img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card-image" width="650" height="433" loading="lazy">
			</div>

			<div class="gift-card-qr-code-wrap">
				<p>{{ 'gift_cards.issued.qr_image_description' | t }}</p>
				<div class="gift-card-qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
			</div>

			<div class="gift-card-pass-url">
				{%- if gift_card.pass_url -%}
					<a href="{{ gift_card.pass_url }}" class="gift_card-apple-wallet">
						<img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
					</a>
				{%- endif -%}
			</div>
		</div>

		<div class="gift-card-information no-print">
			<div class="gift-card-buttons">
				<button
					class="button-text-link"
					onclick="window.print();"
				>
					{{ 'gift_cards.issued.print_gift_card' | t }}
				</button>

				<a
					href="{{ request.origin }}"
					class="button button-gift-card-shop"
					target="_blank"
					rel="noopener"
					aria-describedby="a11y-new-window-message"
				>
					{{ 'gift_cards.issued.shop_link' | t }}
				</a>
			</div>
		</div>
	</main>

	<div hidden>
		<span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
	</div>
</body>
</html>

<script>
	var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
	document.addEventListener('DOMContentLoaded', function() {
		new QRCode( document.querySelector('.gift-card-qr-code'), {
			text: document.querySelector('.gift-card-qr-code').dataset.identifier,
			width: 120,
			height: 120,
			imageAltText: string.qrImageAlt
		});
	});

	var template = document.getElementsByTagName("template")[0];
	var clonedTemplate = template.content.cloneNode(true);

	var isMessageDisplayed = false;
	document
		.querySelector('.gift-card-copy-link')
		.addEventListener('click', () => {
			navigator.clipboard.writeText(document.querySelector('.gift-card-number').value).then(function () {
				if (!isMessageDisplayed) {
					document.querySelector('.gift-card-copy-success').appendChild(clonedTemplate);
					isMessageDisplayed = true;
					document.querySelector('.gift-card-copy-code').classList.add('success');
				}
			});
		});
</script>
